- content_for :javascript do
  initialize_send_person_message_form('#{I18n.locale}');

#new_message_form.centered-section
  %h2= t("conversations.new.send_message_to_user", :person => @recipient.given_name_or_username)
.process-box
  .owner-Info-box
    .owner-Info
      .owner-Info-image
        = link_to image_tag(@recipient.image.url(:thumb), alt: ''), person_path(@recipient)
      .owner-Info-content
        .owner-name
          = link_to person_path(@recipient) do
            %h6= @recipient.full_name
        .feedback-box
          - if @recipient.received_testimonials.size > 0
            - feedback = "#{@recipient.feedback_positive_percentage.to_s}% #{t("people.show.positive")} (#{@recipient.received_positive_testimonials.size}/#{@recipient.received_testimonials.size})"
          - else
            - feedback = 'No feedback yet'
          .feedback-icon
            %span.icon-star
          %p
            = feedback
            - unless feedback == 'No feedback yet'
              %br
              %span Feedback
.process-box
  .booking-box
    = form_for @conversation, :url => person_person_messages_path(:person => @recipient) do |form|
      = fields_for "conversation[message_attributes]", Message.new do |message_form|
        .chat-field
          = message_form.text_area :content, :class => "reply_form_text_area", :placeholder => "Write your messages here:"
        = message_form.hidden_field :sender_id, :value => @current_user.id
      .send-message-box
        = form.button t("conversations.new.send_message"), :class => "send-button send_reply_msg custom-button"
