.content-section
  .what-jube-section.animated.slideInUp
    .container.inner-container
      .heading-jube
        %h5 In a nutshell
        %h2 WHAT IS JUBE?
      / heading-jube ends
      .video-section
        %a{:href => "javascript:void(0);", class: "home_play_link", :id => "1_img"}
          %img{:alt => "", :src => "/assets/homepage/video1.jpg"}/
        %a{:href => "javascript:void(0);", class: "home_play_link", :id => "2_img"}
          %img{:alt => "", :src => "/assets/homepage/video2.jpg"}/
  %section#howItWorks.how-it-works-section
    .container
      .heading-jube
        %h2 How it works
      .section-content
        .row
          .feature-item.col-lg-4.col-md-4.col-sm-4.wow.slideInUp{:style => "visibility: visible; animation-name: slideInUp;"}
            .feature-media
              %span.icon-image
                %img{:alt => "", :src => "/assets/homepage/photo-camera-6.png"}/
            %h4 Find gear
            .feature-item-content
              %p The gear your project needs is never far away. Just search, find and rent from local filmmakers in your area. 
          .feature-item.col-lg-4.col-md-4.col-sm-4.wow.slideInUp{:style => "visibility: visible; animation-name: slideInUp;"}
            .feature-media
              %span.icon-image
                %img{:alt => "", :src => "/assets/homepage/calendar-4.png"}/
            %h4 Pick dates and rent
            .feature-item-content
              %p
                %span{:style => "font-weight: 400"} We have made Search, payment, communication easy – All members are ID verified and personal vetted through JUBE.
          .feature-item.col-lg-4.col-md-4.col-sm-4.wow.slideInUp{:style => "visibility: visible; animation-name: slideInUp;"}
            .feature-media
              %span.icon-image
                %img{:alt => "", :src => "/assets/homepage/social-relations.png"}/
            %h4 Meet and create
            .feature-item-content
              .w-container.how-it-works-container
                .hiw---step
                  %p
                    %span{:style => "font-weight: 400"} We have made search, payment and communication easy – All members are ID verified and personal vetted through JUBE.
  %section.product-section
    .container
      .heading-jube
        %h5 popular gear
        %h2 HERE ON JUBE
      .instrument-box
        .instr1.wow.slideInUp
          %a{:href => "https://www.dk.jube.co/en/listings/218-dji-ronin-m"}
            .instr-box
              %img{:alt => "", :src => "/assets/djironinm.png"}/
            %h5 DJI RONIN M
        .instr1.wow.slideInUp
          %a{:href => "https://www.dk.jube.co/en/listings/187-ursa-mini-pro-package"}
            .instr-box
              %img{:alt => "", :src => "/assets/ursaminiprof34.jpg"}/
            %h5 Ursa Mini Pro
        .instr1.wow.slideInUp
          %a{:href => "https://www.dk.jube.co/en/listings/193-canon-c300mkii-ef"}
            .instr-box
              %img{:alt => "", :src => "/assets/CanonC300.png"}/
            %h5 Canon C300
        .clearfix
        .btn-box.org-btn
          %button.btn{:type => "submit"} See all gear
  %section.rentingAndFaq.gray-bg
    .container
      .rent-section
        .heading-jube
          %h5 FOCUS ON BEING CREATIVE. WE WANT TO HELP WITH THE REST
          %h2 MAKES RENTING BETTER
        .rent-inner.row
          .col-sm-6.col-lg-6.wow.slideInUp.rnt-box
            .service-item
              .service-image.icon-image
                %img{:alt => "", :src => "/assets/homepage/passport-check-2.png"}/
              .service-content
                %h4.service-title Part of a community
                %p Be part of a strong filmmaker community. Meeting other professional filmmakers, is half the fun. - And the gear you need is never far away.
          .col-sm-6.col-lg-6.wow.slideInUp.rnt-box
            .service-item
              .service-image.icon-image
                %img{:alt => "", :src => "/assets/homepage/fingerprint-3.png"}/
              .service-content
                %h4.service-title ID verification
                %p In order to complete a transaction, both users must be ID-verified and personally vettet. Jube is no place for anonymity. We are one big family.
          .col-sm-6.col-lg-6.wow.slideInUp.rnt-box
            .service-item
              .service-image.icon-image
                %img{:alt => "", :src => "/assets/homepage/coins-2.png"}/
              .service-content
                %h4.service-title Make money renting out
                %p
                  Make money on your gear when you are not using it.
                  Easy to list. Easy to rent out. - You as an owner are in
                  complete control.
          .col-sm-6.col-lg-6.wow.slideInUp.rnt-box{:style => "visibility: visible; animation-name: slideInUp;"}
            .service-item
              .service-image.icon-image
                %img{:alt => "", :src => "/assets/homepage/Low_Price.png", :width => 64, :height => 64}/
              .service-content
                %h4.service-title Easy rent and Lowest prices
                %p This is no greedy renting house! Prices are better on Jube than most other places. - Owners have full control over their renting prices.
      .faq-section
        .heading-jube
          %h2 FAQ
          %h3
            For more frequently asked questions,
            %a{:href => "http://www.jube.co/faq"} click here
        .faq-inner.row
          .col-md-4.col-sm-4.faq-box.wow.slideInUp
            .faq-item
              %h4 I want to rent out my gear. How does it work?
              %p Its super simple. Create a profile by clicking the sign up button and follow the steps. After that...
          .col-md-4.col-sm-4.faq-box.wow.slideInUp
            .faq-item
              %h4 What kind of equipment can I list?
              %p You can list any equipment that is used in the photography, filmmaking and audio / visual content creation...
          .col-md-4.col-sm-4.faq-box.wow.slideInUp
            .faq-item
              %h4 How does booking work?
              %p Find the equipment you want to rent. - Select the dates in the calendar. Press ‘Request to Book’, and add a message to the owner.
  %section.inform
    .heading-jube
      %h5 Please read these - We mean it
      %h2 Important Information
    .flex.imp-section
      .block_info.btn-box.org-btn
        %a.btn{:href => "https://www.dk.jube.co/en/infos/terms"} Terms Of use
        %p Here you will find all the legal stuff reagarding the JUBE service. It might not be your favorite read, but we highly encourage you to do so.
      .block_info.btn-box.org-btn
        %a.btn{:href => "http://www.jube.co/faq"} FAQ
        %p We do not have all the answers on the big questions of life. But we DO have answers on questions regarding the JUBE platform.
      .block_info.btn-box.org-btn
        %a.btn{:href => "https://www.dk.jube.co/en/infos/trust_and_safety"} Safety and insurance
        %p Here you find all information regarding our safety and insurance policy. Read this before your first rent.
  %footer.footer-section
    .container
      .row
        .footer-block.footer-one
          .footer-logo
            %a{:href => "#"}
              %img{:alt => "", :src => "/assets/img10.png"}/
        .footer-block.footer-two
          %h2 GENERAL INFO
          %ul.footer-links
            %li
              %a{:href => "http://www.jube.co/faq"} FAQ
            - unless @current_user
              %li
                = link_to t("header.signup"), sign_up_path, class: "header-text-link header-hover", remote: true
            %li
              %a{:href => "javascript:void(0);", class: "home_play_link", :id => "1_img"} "Jube in 60 Seconds"
            %li
              %a{:href => "?q=&view=grid"} See all gear
        .footer-block.footer-three
          %h2 CONTACT
          %ul.footer-links
            %li
              %a{:href => about_infos_path} About
            %li
              %a{:href => contact_infos_path} Contact us
        .footer-block.footer-four
          %h2 TERMS
          %ul.footer-links
            %li
              %a{:href => trust_and_safety_infos_path} Trust and safety
            %li
              %a{:href => terms_infos_path} Terms of use
            %li
              %a{:href => "#"} Insurance
            %li
              %a{:href => privacy_infos_path} Privacy
        .footer-block.footer-five
          %h2 SOCIAL
          %ul.footer-links
            %li
              %a{:href => "https://www.facebook.com/jubefilm/"}
                = image_tag("homepage/facebook_icon.png")
            %li
              %a{:href => "https://www.instagram.com/jube.co/?hl=da"}
                = image_tag("homepage/instagram_icon.png")
            %li
              %a{:href => "https://www.youtube.com/channel/UCWkuyGzelEEsopi3ZtLkPNw/videos"}
                = image_tag("homepage/youtube_icon.png")
:css
  .home_play_link{
    padding: 40px;
  }
  .youtube_video{
    display:none;
  }
- content_for :extra_javascript do
  :javascript
    $(function(){
      $("#js-rotating").Morphext({
        animation: "flipInX",
        complete: function () {
            console.log("This is called after a phrase is animated in! Current phrase index: " + this.index);
        }
      });
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top-100
            }, 1000);
            return false;
          }
        }
      });
      $(".search-box span").click(function(){
        $("#q").val('');
      });
    })
