- if params[:controller] == "homepage" && params[:action] == "index"
  %form{method: "get", id: "homepage-filters"}
    - params.except("action", "controller", "q", "view", "utf8").each do |param, value|
      - unless param.match(/^filter_option/) || param.match(/^checkbox_filter_option/) || param.match(/^nf_/) || param.match(/^price_/)
        = hidden_field_tag param, value
    = hidden_field_tag "view", @view_type
    - with_big_cover_photo do 
      .search-box
        = text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")
        %span
          %img{:alt => "", :src => "/assets/homepage/cross-f.png"}/
      .search-filters
        %a{:href => "?category=cinema-cameras&q=&view=grid"}
          %span
            %img{:alt => "", :src => "/assets/homepage/icon1.png", :width => "16"}/
          Cameras
        %a{:href => "?category=lenses&q=&view=grid"}
          %span
            %img{:alt => "", :src => "/assets/homepage/icon2.png", :width => "15"}/
          Lenses
        %a{:href => "?category=lighting&q=&view=grid"}
          %span
            %img{:alt => "", :src => "/assets/homepage/icon3.png", :width => "15"}/
          Lights
        %a{:href => "?category=audio&q=&view=grid"}
          %span
            %img{:alt => "", :src => "/assets/homepage/icon4.png", :width => "11"}/
          Audio
        %a{:href => "?category=camera-support-slash-stabilizers&q=&view=grid"}
          %span
            %img{:alt => "", :src => "/assets/homepage/icon5.png", :width => "18"}/
          Gimbals

    - with_small_cover_photo do
      .outer.new_search_added
        / - if @current_user.present?
        .search_bar_added
          / %input#query{:placeholder => "Search Gear", :type => "text"}
          .search-form-input.search-form-text-field
            = text_field_tag "q", params[:q], :placeholder => (@community_customization && @community_customization.search_placeholder) || t("homepage.index.what_do_you_need")
            %button.action-button#search-button.second-search{type: 'submit'}
              SEARCH
          / %i.fa.fa-search
