- content_for :javascript do
	initialize_homepage();

- content_for :coverfade_class do
	= "without-text"

-unless params["view"].present?
	- content_for :extra_css do
		= stylesheet_link_tag "animate"
	= render 'homepage'

- if @current_community.private? && show_big_cover_photo?
	- if @community_customization && @community_customization.private_community_homepage_content
		= @community_customization.private_community_homepage_content.html_safe

- else

	- unless @view_type.eql?("map")
		- if listing_shape_menu_enabled || @category_menu_enabled
			.home-toolbar-show-filters-button-container
				.home-toolbar-show-filters-button#home-toolbar-show-filters
					= t(".filter")

		.home-toolbar-button-group{:class => listing_shape_menu_enabled || @category_menu_enabled ? "filters-enabled" : ""}
			- ["grid", "list", "map"].each do |view_type|
				= link_to params.merge(view: view_type), :class => "home-toolbar-button-group-button", :title => t("homepage.filters.#{view_type}_button"), :id => (@view_type == view_type) ? "grid_list" : ""  do
					= icon_tag(view_type, ["icon-fix", "home-button-group-icon"])
					%span.home-toolbar-button-text
						= t("homepage.filters.#{view_type}_button")


		- if listing_shape_menu_enabled || @category_menu_enabled
			.home-toolbar-filters.home-toolbar-filters-mobile-hidden#home-toolbar-filters
				- if listing_shape_menu_enabled
					.toggle-container.home-toolbar-toggle-container
						.toggle.with-borders#home_toolbar-select-share-type{data: {toggle: '.home-toolbar-share-type-menu'}}
							.toggle-header-container
								.toggle-header
									- if selected_shape
										= t(selected_shape[:name_tr_key])
									- else
										= t("homepage.filters.all_listing_types")

								= icon_tag("dropdown", ["icon-dropdown"])

						.home-toolbar-share-type-menu.toggle-menu.hidden
							= link_to t("homepage.filters.all_listing_types"), params.merge({transaction_type: "all"})
							- shapes.each do |shape|
								= link_to params.merge({transaction_type: shape[:name]}), class:  "toggle-menu-subitem" do
									= t(shape[:name_tr_key])

				- if @show_categories
					.toggle-container.home-toolbar-toggle-container.hidden-tablet
						.toggle.with-borders{data: {toggle: '#home-toolbar-categories-menu'}}
							.toggle-header-container
								.toggle-header
									- if @selected_category
										= @selected_category.display_name(I18n.locale)
									- else
										= t("homepage.filters.all_categories")

								= icon_tag("dropdown", ["icon-dropdown"])

						#home-toolbar-categories-menu.toggle-menu
							= link_to t("homepage.filters.all_categories"), params.merge({category: "all"})
							- @main_categories.each do |category|
								= link_to category.display_name(I18n.locale), params.merge({category: category})
								- if category.children
									- category.children.each do |child|
										- is_selected = @selected_category == child
										= link_to child.display_name(I18n.locale), params.merge({category: child}), :class => "toggle-menu-subitem"

				/ Filters
				.hidden-tablet
					- # Filters will be relocated to #desktop-filters when in desktop
					#filters
						= render :partial => "filters", :locals => { show_price_filter: show_price_filter, show_custom_fields: @show_custom_fields }

	- unless @view_type.eql?("map")
		.row
			- if @category_menu_enabled
				.col-3.visible-tablet
					- if @show_categories
						= render 'category_listing'

					#desktop-filters
						- # Filters will be relocated here when in desktop
			- main_container_class = if @category_menu_enabled then "col-9" else "col-12" end
			%div{:class => main_container_class}
				- if @listings.total_entries > 0
					- if @view_type.eql?("map")
						.home-map
							= render :partial => "map", :collection => @listings, :as => :listing
					- else
						- if @view_type.eql?("grid")
							%div{class: @category_menu_enabled ? "home-fluid-thumbnail-grid-narrow" : "home-fluid-thumbnail-grid-wide"}
								.home-fluid-thumbnail-grid
									= render :partial => "grid_item", :collection => @listings, :as => :listing
						- else
							.home-listings
								= render :partial => "list_item", :collection => @listings, :as => :listing, locals:{shape_name_map: shape_name_map, testimonials_in_use: testimonials_in_use}
						.home-loading-more
							= will_paginate(@listings)
							- item_container = if @view_type.eql?("grid") then '.home-fluid-thumbnail-grid' else '.home-listings' end
							= pageless(@listings.total_pages, item_container, request.fullpath, t('.loading_more_content'))
				- else
					.home-no-listings
						- if params[:q] || params[:category] || params[:share_type] # Some filter in use
							= t(".no_listings_with_your_search_criteria")
						- else
							= t(".no_listings_notification", :add_listing_link => link_to(t(".add_listing_link_text"), new_listing_path)).html_safe
	-if params[:view]
		%br
	= render 'map'
