.popup-content
  %a{:href => "javascript:void(0);"}
    = image_tag('img16.png')
    %p Hello again. We have missed you!
  .tab-toggle
    .tab-toggle-inner
      = link_to 'Sign up', sign_up_path, class: 'signup-btn button-part', id: 'i1', remote: true
      = link_to 'Log in', login_path, class: 'login-btn button-part button-active', id: 'i2', remote: true
      %span.or-box or
    .tab-toggle-content
      #divi1.tabinner.tab-one
      #divi2.tabinner.tab-two
        .inner-fb-box
          / - if facebook_connect_in_use?
          %button.signup-fb{:type => "button", onclick: "location.href='#{person_omniauth_authorize_path(:facebook)}';"}
            %span
              = image_tag('fb-small.png')
            Sign in with Facebook
        %a.with-email{:href => "javascript:void(0);"} ...or with your email:
        = form_tag("#{APP_CONFIG.login_domain}#{sessions_path}",:action => "create", class: 'form-box') do
          %label.labelname
            = username_or_email_label
          = text_field_tag "person[login]", nil, :value => session[:form_login], :class => :text_field, :id => :main_person_login, :autofocus => true
          %label.labelname
            = t('common.password')
          = password_field_tag "person[password]", nil, :class => :text_field, :id => :main_person_password
          = hidden_field_tag('listing_id', params[:listing_id])
          = hidden_field_tag('start_on', params[:start_on])
          = hidden_field_tag('end_on', params[:end_on])
          = button_tag('Log in', :class => "send_button login-butt", :id => :main_log_in_button)
        #pop_up_password_forgotten
          .centered-section-narrow
            %p Password Recovery Instructions
            = form_tag request_new_password_sessions_path do
              %label{:for => "email"}
                Email
              = text_field_tag("email", params[:q], :class => "text_field request_password")
              = button_tag 'Request New Password', :class => "send_button resend-btn"
        = link_to 'forgot username or password', "javascript:void(0);", :class => "password_forgotten email-here"
