= render :partial => "people/popup_confirmation_pending"
- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      $(".flash-notifications").hide();
      initialize_confirmation_pending_form("#{I18n.locale}", "#{email_not_accepted_message}");
      $('#confirm-pending').bPopup({
        appendTo: 'body', zIndex: 1001, speed: 450, transition: 'fadeIn', closeClass: 'b-close', modalColor: '#000', model: false, escClose: true, positionStyle: 'fixed', modalClose: false
      });
      $(".popup-content").prepend("#{escape_javascript(render(:partial => 'layouts/notifications'))}");
      $('.change-here-link').click(function() {
        $('#mistyped_password_forgotten').slideToggle();
      });
    });
