$("#signup").bPopup().close();
$("#login").html("<%= escape_javascript(render(:partial => 'sessions/login_form')) %>");

$('#login').bPopup({
  appendTo: 'body', zIndex: 1001, speed: 450, transition: 'fadeIn', closeClass: 'b-close',
  modalClose: true, modalColor: '#000', model: false, escClose: true, position: ['auto', 'auto']
});

$(document).ready(function() {
  $(".password_forgotten").click(function(){
    $("#pop_up_password_forgotten").slideToggle();
  });
});
