.initiate-transaction-totals
  .initiate-transaction-total-wrapper
    %span.initiate-transaction-total-label
      = t("transactions.initiate.price_per_day")
    %span.initiate-transaction-total-value
      = humanized_money_with_symbol(@price_per_day)
    %br
    %span.initiate-transaction-sum-label
      = t("transactions.initiate.subtotal")
    %span.initiate-transaction-sum-value
      = humanized_money_with_symbol(@subtotal)
    - unless @discount
      %br
      %span.initiate-transaction-sum-label
        = t("transactions.initiate.service_fee")
      %span.initiate-transaction-sum-value
        = humanized_money_with_symbol(@service_fee)
    - if @discount
      %br
      %span.initiate-transaction-sum-label
        Discount:
        = "(#{@current_community.discount_on_listings}%)"
      %span.initiate-transaction-sum-value
        = "-"
        = humanized_money_with_symbol(@discount)
    %br
    %span.initiate-transaction-total-label
      = t("transactions.total")
    %span.initiate-transaction-total-value
      = humanized_money_with_symbol(@total)
