.popup-content
  %a{:href => "javascript:void(0);"}
    = image_tag('img16.png')
    %p Welcome! It is free to be a part of Jube and list your gear.
  .tab-toggle
    .tab-toggle-inner
      = link_to 'Sign up', sign_up_path, class: 'signup-btn button-part button-active', id: 'i1', remote: true
      = link_to 'Log in', login_path, class: 'login-btn button-part', id: 'i2', remote: true
      %span.or-box or
    .tab-toggle-content
      #divi1.tabinner.tab-one
        .facebook-div.inner-fb-box
          / - unless !facebook_connect_in_use? || params[:no_fb]
          %button.signup-fb{:type => "button", onclick: "location.href='#{person_omniauth_authorize_path(:facebook)}';"}
            %span
              = image_tag('fb-small.png')
            Sign up with Facebook
          .checkboxtop
            %input{:type => "checkbox", :id => "person_terms", :name => "person[terms]"}
            %a{:href => "/en/infos/about", :target => "blank"} Please read these document, and check this box
          = link_to 'or sign up with email here', "javascript:void(0);", class: "email-sign-up green_part_link email-here"
        #signup-form
          = render :partial => "people/signup_form"

      #divi2.tabinner.tab-two
