- @current_user = current_person if person_signed_in?
- email_to_confirm = @current_user.latest_pending_email_address(@current_community)
#confirm-pending.signup-popup.success-cls
  .popup-content
    - if @current_user.has_admin_rights_in?(@current_community)
      %h2= t("sessions.confirmation_pending.account_confirmation_instructions_title_admin")
      %p= t("sessions.confirmation_pending.your_marketplace_has_now_been_created")
      %p= t("sessions.confirmation_pending.account_confirmation_instructions_admin")
    - else
      %p= t("sessions.confirmation_pending.account_confirmation_instructions")

    %br/
    %span.success-cls
      = image_tag('check.png')
    %h4 Success!
    %p We have now sent you a verification email.
    %p Click the link in the email to verify the email address.
    = form_for(Person, :as => "person", :url => confirmation_path(:locale => I18n.locale), :html => { :method => :post, :id => "change_mistyped_email_form"} ) do |form|
      = form.hidden_field :id, :value => @current_user.id
      = form.button t("sessions.confirmation_pending.resend_confirmation_instructions"), :class => "resend_email_confirmation_button send_button resend-btn"
      %p
        = t("sessions.confirmation_pending.your_current_email_is", :email => email_to_confirm).html_safe
      = link_to 'Click here to change', "javascript:void(0);", :class => "green_part_link change-here-link"
      #mistyped_password_forgotten
        = form_for @current_user, :html => {:id => 'change_mistyped_email_form'} do |form|
          %label{:for => "email"}
            = t('settings.account.new_email') + ":"
          = form.text_field(:email, :value => email_to_confirm, :class => "text_field text_field_account", :maxlenght => "255")
          = hidden_field_tag "request_new_email_confirmation", true
          = button_tag t('settings.account.change'), :class => "send_button resend-btn"
    or
    %br
    = link_to logout_path do
      = icon_tag("logout", ["icon-with-text"])
      = t("layouts.logged_in.logout")
