- if @community_customization && @community_customization.signup_info_content
  %p
    = @community_customization.signup_info_content.html_safe
- elsif @current_community.allowed_emails
  %p
    = t('.email_restriction_instructions',
          :community_name => @current_community.name(I18n.locale),
          :allowed_emails => @current_community.allowed_emails,
          :count => (@current_community.allowed_emails.split(",").count))

  .signup-horizontal-line
    .signup-horizontal-line-text=t(".OR")

  %h3=t(".signup_with_email")

= form_for @person, url: APP_CONFIG.login_domain.to_s + people_path, remote: true, :html => { id: 'sign-up-form', class: 'form-box' } do |form|
  -# Invite code
  - if @current_community.join_with_invite_only?
    .inline-label-container
      = label_tag :invitation_code, t('.invitation_code'), :class => "inline"
      = link_to(t('common.what_is_this'), "#", :tabindex => "-1", :id => "help_invitation_code_link", :class => "label-info")
    = text_field_tag "invitation_code", nil, :class => :text_field, :maxlength => "20", :value => (params[:code] || "")
  - elsif params[:code]
    = hidden_field_tag "invitation_code", params[:code]

  -# Honey pot: hidden field to detect spammers
  = form.label :input_again, "You should not see this field, if CSS is working. If you see this, please send feedback!", :class => "unwanted_text_field"
  = form.text_field :input_again, :class => "unwanted_text_field", :id => "error_regristration_unwanted_email2", :autocomplete => "off"

  %label.labelname
    Email address
  = form.text_field :email, :class => :text_field, :maxlength => "255"

  - if @current_community.only_organizations
    %label.labelname
      = t('.organization_name')
    = form.text_field :organization_name, :class => :text_field, :maxlength => "30"
  - else
    .split-input
      .firstbox
        %label.labelname
          First name
        = form.text_field :given_name, :class => :text_field, :maxlength => "30"
      .lastbox
        %label.labelname
          Last name
        = form.text_field :family_name, :class => :text_field, :maxlength => "30"

  %label.labelname
    = username_label
  = form.text_field :username, :class => :text_field, :maxlength => "20", :id => "person_username1"
  %label.labelname
    Password
  = form.password_field :password, :class => :text_field, :maxlength => "255", :id => "person_password1"
  %label.labelname
    Confirm password
  = form.password_field :password2, :class => :text_field, :maxlength => "255"
  %label.labelname
    Phone number
  %div{:style => "display:flex;"}
    = form.select :country_code, options_for_select(get_country_codes(:phone_number), !@person.country_code.nil? ? @person.country_code : 45), :prompt => 'Select one'
    = form.text_field :phone_number, :class => :text_field, :maxlength => "10", :placeholder => "#{t('settings.sms_notifications.phone_placeholder')}"
  - unless @skip_terms_checkbox
    .checkboxtop
      %input{:type => "checkbox", :id => "person_terms", :name => "person[terms]"}
      = link_to 'Please read these document, and check this box', "/en/infos/about", :target => "blank"
  = form.hidden_field :consent, :value => @current_community.consent
  = hidden_field_tag :popup_form, '', value: true
  = button_tag 'Create account', :class => "submit-mobile resend-btn", data: {remote: true}
  .card_small_loader
    = image_tag "small_loader.gif"
= render :partial => "help_texts", :collection => ["terms", "help_invitation_code"], :as => :field
= link_to 'or sign up with facebook here', "javascript:void(0);", class: "email-facebook-signup green_part_link email-here"
