$("#signup").bPopup().close();
$("body").append("<%= escape_javascript(render(:partial => 'people/popup_confirmation_pending')) %>");

$('#confirm-pending').bPopup({
  appendTo: 'body', zIndex: 1001, speed: 450, transition: 'fadeIn', closeClass: 'b-close',
  modalClose: false, modalColor: '#000', model: false, escClose: true, position: ['auto', 'auto']
});

initialize_confirmation_pending_form('<%= "#{I18n.locale}" %>', '<%= "#{email_not_accepted_message}" %>');

$(document).ready(function() {
  $('.change-here-link').click(function() {
    $('#mistyped_password_forgotten').slideToggle();
  });
});

