$("#login").bPopup().close();
$("#signup").html("<%= escape_javascript(render(:partial => 'people/new')) %>");

$('#signup').bPopup({
  appendTo: 'body', zIndex: 1001, speed: 450, transition: 'fadeIn', closeClass: 'b-close',
  modalClose: true, modalColor: '#000', model: false, escClose: true, follow: [false, false]
});

initialize_popup_signup_form('<%= "#{I18n.locale}" %>', '<%= "#{t('people.new.username_is_in_use')}" %>', '<%= "#{t("people.new.username_is_invalid")}" %>', '<%= "#{email_not_accepted_message}" %>', '<%= "#{t('people.new.captcha_was_wrong')}" %>', '<%= "#{t("people.new.invalid_invitation_code")}" %>', <%= "#{@current_community.real_name_required?}" %>, <%= "#{@current_community.join_with_invite_only?}" %>);
  
$("#fb-login").click(function(){ if($("#person_terms_facebook").is(":checked")){ return true; }else{ alert("Please accept the terms"); return false;} });

$(document).ready(function(){
  $(".email-sign-up").click(function(){
    $("#signup-form").show();
    $('.facebook-div').hide();
  });
  $(".email-facebook-signup").click(function(){
    $("#signup-form").hide();
    $('.facebook-div').show();
  });
});
