- if role == :participant
  - content_for :javascript do
    initialize_reply_form('#{I18n.locale}');

  #reply_form.message-avatar-padding.message-reply-form
    = form_for message_form, :url => message_form_action do |f|
      .chat-field
        = f.text_area :content, :class => "reply_form_text_area", :placeholder => "Write your messages here:"
      = f.hidden_field :conversation_id
      = f.hidden_field :sender_id
      .send-message-box
        = f.button 'Send Message', :class =>"send-button send_reply_msg custom-button"
