#new_message_form.centered-section
  %h2= t("conversations.new.send_message_to_user", :person => @other_person.given_name_or_username)
.process-box-one
  .owner-Info-box
    .owner-Info
      .owner-Info-image
        = link_to image_tag(conversation_data[:other_person][:avatar], alt: ''), conversation_data[:other_person][:url]
      .owner-Info-content
        .owner-name
          = link_to conversation_data[:other_person][:url] do
            %h6= @other_person.full_name
        .feedback-box
          - if @other_person.received_testimonials.size > 0
            - feedback = "#{@other_person.feedback_positive_percentage.to_s}% #{t("people.show.positive")} (#{@other_person.received_positive_testimonials.size}/#{@other_person.received_testimonials.size})"
          - else
            - feedback = 'No feedback yet'
          .feedback-icon
            %span.icon-star
          %p
            = feedback
            - unless feedback == 'No feedback yet'
              %br
              %span Feedback
  .booking-box
    = render :partial => "conversations/messages_and_form", locals: {role: :participant, message_form: message_form, message_form_action: message_form_action, messages: messages}
.centered-section-wide.margin-from-top
  #messages
    = render :partial => "conversations/message", :collection => messages, as: :message_or_action
