!!!
%html
  %head
    %title INVerator
    %meta{:content => "exported via StampReady", :name => "sr_export"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    :css
      table         {mso-table-lspace:0pt;mso-table-rspace:0pt;}
        td,th         {border-collapse:collapse;}
        a           {text-decoration:none;}
        .AnnouncementTD   {color:#425065;font-family: sans-serif;font-size:18px;text-align:right;line-height:150%; font-weight:bold; letter-spacing:2px;}
        .AnnouncementTD a   {color:#425065;}
        
        .header2TD,.header5TD {color:#425065;font-family: sans-serif;font-size:18px;text-align:center;line-height:27px; font-weight:bold;}
        .header2TD        {font-size:14px; font-weight:lighter; text-align:left; line-height:19px;}
        .header5TD        {color:#ffffff; font-size:15px; font-weight:bold; text-align:center;}
        .header2TD a      {color:#425065; font-weight:bold;}
        .header5TD a      {color:#ffffff;}
        
        .RegularTextTD,.RegularText4TD,.RegularText5TD    {color:#727e8d;font-family: sans-serif; font-size:13px; font-weight:lighter;text-align:left;line-height:23px;}
        .RegularTextTD a                  {color:#67bffd; font-weight:bold;}
        .RegularText4TD                   {color:#425065; font-size:14px; font-weight:bold; text-align:left;}
        .RegularText4TD a                 {color:#425065;}
        .RegularText5TD                   {color:#425065; font-size:14px; text-align:center;}
        .RegularText5TD a                 {color:#67bffd; font-weight:bold;}
        
        td a img                        {text-decoration:none;border:none;}
        .companyAddressTD                 {color:#67bffd;font-family: sans-serif;font-size:13px;text-align:center; font-weight:bold; line-height:190%;}
        .companyAddressTD a               {color:#67bffd; font-weight:bold;}
        .mailingOptionsTD                 {color:#aab1bd;font-family: sans-serif;font-size:12px;text-align:center;line-height:170%;}
        .mailingOptionsTD a                 {color:#ffffff; font-weight:bold;}
        .ReadMsgBody{width:100%;}
        .ExternalClass{width:100%;}
        body{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-font-smoothing:;margin:0 !important;padding:0 !important;min-width:100% !important;}
          
      
          
      @media only screen and (max-width: 479px) 
             {
          body                    {min-width:100% !important;} 
          th[class=stack]               {display:block !important;width:300px !important;border-left:0 !important;height:auto !important;}
          table[class=table600Logo]           {width:300px !important;}
          table[class=centerize]            {margin:0 auto 0 auto !important;border-bottom-width:2px !important;border-bottom-style:solid !important;}
          table[class=table600Menu]         {width:300px !important;}
          table[class=table600Menu] td          {height:20px !important;}
          td[class=AnnouncementTD]          {width:300px !important;text-align:center !important;font-size:17px !important;}
          td[class=table600st]              {width:300px !important; min-width:300px !important; height:20px !important;}
          td[class=header2TD]             {height:0 !important; font-size:12px !important;}
          td[class=header5TD]             {font-size:12px !important; font-weight:lighter !important;}
          table[class=table600]             {width:300px !important;}
          table[class=table6003]            {width:300px !important; border-bottom-style:solid !important; border-bottom-width:1px !important;}
          table[class=table600Min]            {width:300px !important; min-width:300px !important;}   
          td[class=wz]                  {height:10px !important;}
          td[class=wz2]               {width:10px !important; height:10px !important;}
          td[class=RegularTextTD]             {width:240px !important;height:0 !important;}
          td[class=RegularText5TD]          {font-size:13px !important;}
          td[class=esFrMb]              {width:0 !important;height:0 !important;display:none !important;}
          table[class=tableTxt]             {width:240px !important;}     
          td[class=vrtclAlgn]             {height:30px !important;}
          td[class=va2]               {height:20px !important;}
          th[class=stack2]                {width:100px !important;}
          table[class=table60032]           {width:98px !important;}
          th[class=stack3]                {width:66px !important;}
          table[class=table60033]           {width:64px !important;}
          th[class=stack4]                {width:166px !important;}
          table[class=table60034]           {width:164px !important;}
          td[class=TDtable60034]            {width:162px !important;}
          td[class=RegularText4TD]          {font-size:13px !important; font-weight:lighter !important;}
          }
  %body
    %table{:align => "center", :bgcolor => "#3b485b", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "TopLogoModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-1.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
            %tr
              %td{:align => "center"}
                %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
                  %tr
                    %td.table600st{:align => "center", :height => "30", :style => "min-width:668px;"}
          %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
            %tr
              %td{:align => "center"}
                %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
                  %tr
                    %td.table600st{:align => "center", :style => "min-width:668px;"}
                      %table.table600{:align => "center", :bgcolor => "#fdfdfd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CredentialsBGColor", "data-border-bottom-color" => "borderColor", :style => "border-bottom:1px solid #dde5f1; border-radius:6px 6px 0 0;", :width => "629"}
                        %tr
                          %td.table600st{:align => "left", :style => "min-width:629px;", :width => "629"}
                            %table.table600Logo{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "260"}
                              %tr
                                %td
                                  %table.centerize{:border => "0", :cellpadding => "0", :cellspacing => "0", "data-border-bottom-color" => "LogoDivider-OnMobile", :style => "border-bottom-color:#67bffd; margin-left:0;"}
                                    %tr
                                      %td.esFrMb{:width => "30"}
                                      %td{:align => "center", :style => "line-height:1px;"}
                                        %a{:href => "http://www.jube.co"}
                                          = image_tag("http://www.dk.jube.co/assets/m_img0.png",:align => "top", :alt => "Logo Image", :border => "0", "data-crop" => "false", :hspace => "0", :src => "images/m_img0.png", :style => "display: block;text-decoration: none;border: none;", :vspace => "0")
                                      %td.esFrMb{:width => "30"}
                            %table.table600Menu{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "348"}
                              %tr
                                %td{:colspan => "2", :height => "10", :style => "font-size:0;line-height:1;"}
                                   
                              %tr
                                %td.AnnouncementTD{:align => "right", "data-color" => "AnnouncementTXT", "data-link-color" => "AnnouncementLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :height => "80", :style => "color: #425065;font-family: sans-serif;font-size: 18px;text-align: right;line-height: 150%;font-weight: bold;letter-spacing: 2px;", :valign => "middle", :width => "318"}
                                  %a{"data-color" => "AnnouncementLink", :href => "#", :style => "text-decoration: none;color: #425065;", :target => "_blank"}
                                  RECEIPT
                                %td.esFrMb{:width => "30"}
                              %tr
                                %td{:colspan => "2", :height => "10", :style => "font-size:0;line-height:1;"}
                                   
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "WelcomeTextModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-2.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :bgcolor => "#fdfdfd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CredentialsBGColor", :style => "min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:629px;"}
                      %table.table600{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-border-bottom-color" => "borderColor", :style => "border-bottom:1px solid #dde5f1;", :width => "629"}
                        %tr
                          %td{:align => "center"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tr
                                %td{:align => "center"}
                                  %table.table600{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "629"}
                                    %tr
                                      %td.vrtclAlgn2{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz{:width => "30"}
                                      %td.RegularTextTD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #727e8d;font-family: sans-serif;font-size: 13px;font-weight: lighter;text-align: left;line-height: 23px;"}
                                        Hallo there! This receipt is sent from JUBE to both parties as a service.    - This transaction is made between the Renter and Owner. - The secure online payment is handled in collaboration with Stripe.
                                        %b
                                          www.Stripe.com
                                        \- As an owner the payment usually takes 1-3 business days for to reach your bank account. But in some cases it takes up to 7 business days.- Do you have questions? Reach out to us.
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                      %td.wz{:width => "30"}
                                    %tr
                                      %td.vrtclAlgn{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                         
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "InvoiceCredentialsModule-2COL", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-3.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:628px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:628px;"}
                      %table.table600{:align => "left", :bgcolor => "#fdfdfd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CredentialsBGColor", :width => "629"}
                        %tr
                          %td
                            %table{:align => "center", :bgcolor => "#fdfdfd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CredentialsBGColor"}
                              %tr
                                %th.stack{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;vertical-align:top;border-bottom:1px solid #dde5f1;", :width => "314"}
                                  %table.table600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "314"}
                                    %tr
                                      %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz{:width => "30"}
                                      %td{:align => "center", :valign => "top"}
                                        %table.tableTxt{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "252"}
                                          %tr
                                            %td{:align => "center", :rowspan => "2", :style => "line-height:1px;", :valign => "top", :width => "25"}
                                              = image_tag("http://www.dk.jube.co/assets/m_img1.png", :alt => "IMG", :border => "0", "data-crop" => "false", :hspace => "0", :src => "images/m_img1.png", :style => "display:block;", :vspace => "0")
                                            %td{:rowspan => "2", :style => "font-size:0;line-height:1;", :width => "14"}
                                               
                                            %td.header2TD{:align => "left", "data-color" => "SectionCaptionTXT", "data-link-color" => "SectionCaptionLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;", :valign => "top", :width => "211"}
                                              Renter Information:
                                              %a{"data-color" => "SectionCaptionLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                          %tr
                                            %td.RegularText4TD{:align => "left", "data-color" => "SectionInfoTXT", "data-link-color" => "SectionInfoLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: bold;text-align: left;line-height: 23px;", :valign => "top", :width => "179"}
                                              %a{"data-color" => "SectionInfoLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              = @renter_name
                                          %tr
                                            %td{:colspan => "3", :height => "10", :style => "font-size:0;line-height:1;"}
                                               
                                          %tr
                                            %td.RegularTextTD{:colspan => "3", "data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #727e8d;font-family: sans-serif;font-size: 13px;font-weight: lighter;text-align: left;line-height: 23px;"}
                                              = @renter_address.present? ? @renter_address : "Not specified"
                                              %br/
                                              Phone:
                                              %b
                                                = @renter_phone
                                              = " - "
                                              VAT/CVR:
                                              %b
                                                = @renter_vat.present? ? @renter_vat : "Not specified"
                                          %tr
                                            %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                               
                                      %td.wz{:width => "30"}
                                %th.stack{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;vertical-align:top;", :valign => "top", :width => "314"}
                                  %table.table600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "314"}
                                    %tr
                                      %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz{:width => "30"}
                                      %td{:align => "center", :valign => "top"}
                                        %table.tableTxt{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "252"}
                                          %tr
                                            %td{:align => "center", :rowspan => "2", :style => "line-height:1px;", :valign => "top", :width => "25"}
                                              = image_tag("http://www.dk.jube.co/assets/m_img2.png", :alt => "IMG", :border => "0", "data-crop" => "false", :hspace => "0", :src => "images/m_img2.png", :style => "display:block;", :vspace => "0")
                                            %td{:rowspan => "2", :style => "font-size:0;line-height:1;", :width => "14"}
                                               
                                            %td.header2TD{:align => "left", "data-color" => "SectionCaptionTXT", "data-link-color" => "SectionCaptionLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;", :valign => "top", :width => "211"}
                                              %a{"data-color" => "SectionCaptionLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              Owner Information:
                                          %tr
                                            %td.RegularText4TD{:align => "left", "data-color" => "SectionInfoTXT", "data-link-color" => "SectionInfoLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: bold;text-align: left;line-height: 23px;", :valign => "top", :width => "179"}
                                              %a{"data-color" => "SectionInfoLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              = @owner_name
                                          %tr
                                            %td{:colspan => "3", :height => "10", :style => "font-size:0;line-height:1;"}
                                               
                                          %tr
                                            %td.RegularTextTD{:colspan => "3", "data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #727e8d;font-family: sans-serif;font-size: 13px;font-weight: lighter;text-align: left;line-height: 23px;"}
                                              = @owner_address.present? ? @owner_address : "Not specified"
                                              %br/
                                              Phone:
                                              %b
                                                = @owner_phone
                                              = " - "
                                              VAT/CVR:
                                              %b
                                                = @owner_vat.present? ? @owner_vat : "Not specified"
                                              %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                          %tr
                                            %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                               
                                      %td.wz{:width => "30"}
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "InvoiceCredentialsModule-3COL", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-4.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:629px;"}
                      %table.table600{:align => "left", :bgcolor => "#fdfdfd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CredentialsBGColor", :width => "629"}
                        %tr
                          %td{:align => "left"}
                            %table{:align => "center", :bgcolor => "#fdfdfd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CredentialsBGColor"}
                              %tr
                                %th.stack{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;vertical-align:top;border-bottom:1px solid #dde5f1;", :width => "209"}
                                  %table.table600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                    %tr
                                      %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz{:width => "30"}
                                      %td{:align => "center", :valign => "top"}
                                        %table.tableTxt{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "145"}
                                          %tr
                                            %td{:align => "center", :rowspan => "2", :style => "line-height:1px;", :valign => "top", :width => "25"}
                                              = image_tag("http://www.dk.jube.co/assets/m_img3.png", :alt => "IMG", :border => "0", "data-crop" => "false", :hspace => "0", :src => "images/m_img3.png", :style => "display:block;", :vspace => "0")
                                            %td{:rowspan => "2", :style => "font-size:0;line-height:1;", :width => "14"}
                                               
                                            %td.header2TD{:align => "left", "data-color" => "SectionCaptionTXT", "data-link-color" => "SectionCaptionLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;", :valign => "top"}
                                              %a{"data-color" => "SectionCaptionLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              Receipt No
                                          %tr
                                            %td.RegularText4TD{:align => "left", "data-color" => "SectionInfoTXT", "data-link-color" => "SectionInfoLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: bold;text-align: left;line-height: 23px;", :valign => "top"}
                                              %a{"data-color" => "SectionInfoLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              = @receipt_number
                                          %tr
                                            %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                               
                                      %td.wz{:width => "30"}
                                %th.stack{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-bottom:1px solid #dde5f1;border-left:1px solid #dde5f1;margin:0; padding:0;vertical-align:top;", :width => "209"}
                                  %table.table600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                    %tr
                                      %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz{:width => "30"}
                                      %td{:align => "center", :valign => "top"}
                                        %table.tableTxt{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "145"}
                                          %tr
                                            %td{:align => "center", :rowspan => "2", :style => "line-height:1px;", :valign => "top", :width => "25"}
                                              = image_tag("http://www.dk.jube.co/assets/m_img4.png", :alt => "IMG", :border => "0", "data-crop" => "false", :hspace => "0", :src => "images/m_img4.png", :style => "display:block;", :vspace => "0")
                                            %td{:rowspan => "2", :style => "font-size:0;line-height:1;", :width => "14"}
                                               
                                            %td.header2TD{:align => "left", "data-color" => "SectionCaptionTXT", "data-link-color" => "SectionCaptionLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;", :valign => "top"}
                                              %a{"data-color" => "SectionCaptionLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              Receipt Date
                                          %tr
                                            %td.RegularText4TD{:align => "left", "data-color" => "SectionInfoTXT", "data-link-color" => "SectionInfoLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: bold;text-align: left;line-height: 23px;", :valign => "top"}
                                              %a{"data-color" => "SectionInfoLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              = @receipt_date
                                          %tr
                                            %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                               
                                      %td.wz{:width => "30"}
                                %th.stack{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-bottom:1px solid #dde5f1;border-left:1px solid #dde5f1;margin:0; padding:0;vertical-align:top;", :width => "209"}
                                  %table.table600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                    %tr
                                      %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz{:width => "30"}
                                      %td{:align => "center", :valign => "top"}
                                        %table.tableTxt{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "145"}
                                          %tr
                                            %td{:align => "center", :rowspan => "2", :style => "line-height:1px;", :valign => "top", :width => "25"}
                                              = image_tag("http://www.dk.jube.co/assets/m_img5.png", :alt => "IMG", :border => "0", "data-crop" => "false", :hspace => "0", :src => "images/m_img5.png", :style => "display:block;", :vspace => "0")
                                            %td{:rowspan => "2", :style => "font-size:0;line-height:1;", :width => "14"}
                                               
                                            %td.header2TD{:align => "left", "data-color" => "SectionCaptionTXT", "data-link-color" => "SectionCaptionLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;", :valign => "top"}
                                              %a{"data-color" => "SectionCaptionLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              Receipt Total
                                          %tr
                                            %td.RegularText4TD{:align => "left", "data-color" => "SectionInfoTXT", "data-link-color" => "SectionInfoLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: bold;text-align: left;line-height: 23px;", :valign => "top"}
                                              %a{"data-color" => "SectionInfoLink", :href => "#", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                              = @currency
                                              = @total_price
                                          %tr
                                            %td{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                               
                                      %td.wz{:width => "30"}
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "MainInvoiceCaptionsModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-5.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:629px;"}
                      %table.table600{:align => "left", :bgcolor => "#67bffd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "ThemeColorBG", :width => "629"}
                        %tr
                          %td{:align => "left"}
                            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tr
                                %th.stack2{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;vertical-align:top;border-bottom-color:#dde5f1;", :width => "209"}
                                  %table.table60032{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.header5TD{"data-color" => "InvoiceCaptionsTXT", "data-link-color" => "InvoiceCaptionsLink", "data-link-style" => "text-decoration:none; color:#ffffff;", :style => "color: #ffffff;font-family: sans-serif;font-size: 15px;text-align: center;line-height: 27px;font-weight: bold;"}
                                        %a{"data-color" => "InvoiceCaptionsLink", :href => "#", :style => "text-decoration: none;color: #ffffff;", :target => "_blank"}
                                        Description
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom-color:#dde5f1;margin:0; padding:0;vertical-align:top;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.header5TD{"data-color" => "InvoiceCaptionsTXT", "data-link-color" => "InvoiceCaptionsLink", "data-link-style" => "text-decoration:none; color:#ffffff;", :style => "color: #ffffff;font-family: sans-serif;font-size: 15px;text-align: center;line-height: 27px;font-weight: bold;"}
                                        %a{"data-color" => "InvoiceCaptionsLink", :href => "#", :style => "text-decoration: none;color: #ffffff;", :target => "_blank"}
                                        Fee
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom-color:#dde5f1;margin:0; padding:0;vertical-align:top;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.header5TD{"data-color" => "InvoiceCaptionsTXT", "data-link-color" => "InvoiceCaptionsLink", "data-link-style" => "text-decoration:none; color:#ffffff;", :style => "color: #ffffff;font-family: sans-serif;font-size: 15px;text-align: center;line-height: 27px;font-weight: bold;"}
                                        %a{"data-color" => "InvoiceCaptionsLink", :href => "#", :style => "text-decoration: none;color: #ffffff;", :target => "_blank"}
                                        Cost
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom-color:#dde5f1;margin:0; padding:0;vertical-align:top;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.header5TD{"data-color" => "InvoiceCaptionsTXT", "data-link-color" => "InvoiceCaptionsLink", "data-link-style" => "text-decoration:none; color:#ffffff;", :style => "color: #ffffff;font-family: sans-serif;font-size: 15px;text-align: center;line-height: 27px;font-weight: bold;"}
                                        %a{"data-color" => "InvoiceCaptionsLink", :href => "#", :style => "text-decoration: none;color: #ffffff;", :target => "_blank"}
                                        Total
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "InvoiceItemDetailsModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-6.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:629px;"}
                      %table.table600{:align => "left", :bgcolor => "#eff3f7", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CalculationsBGColor", :width => "629"}
                        %tr
                          %td{:align => "left"}
                            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tr
                                %th.stack2{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;border-bottom:1px solid #dde5f1;", :width => "209"}
                                  %table.table60032{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.header2TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %b
                                          = @listing_name
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                          = @currency
                                          = @price
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
    - if @discount
      %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "InvoiceItemDetailsModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-6.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
        %tr
          %td{:align => "center"}
            %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
              %tr
                %td.table600st{:align => "center", :style => "min-width:668px;"}
                  %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                    %tr
                      %td.table600st{:style => "min-width:629px;"}
                        %table.table600{:align => "left", :bgcolor => "#eff3f7", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CalculationsBGColor", :width => "629"}
                          %tr
                            %td{:align => "left"}
                              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                %tr
                                  %th.stack2{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;border-bottom:1px solid #dde5f1;", :width => "209"}
                                    %table.table60032{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.header2TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                          %b
                                            Discount
                                            = "(#{@transaction.discount_percent}%)"
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                  %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                    %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                  %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                    %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                            = "-"
                                            = @currency
                                            = @discount
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                  %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                    %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
    - else
      %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "InvoiceItemDetailsModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-6.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
        %tr
          %td{:align => "center"}
            %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
              %tr
                %td.table600st{:align => "center", :style => "min-width:668px;"}
                  %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                    %tr
                      %td.table600st{:style => "min-width:629px;"}
                        %table.table600{:align => "left", :bgcolor => "#eff3f7", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CalculationsBGColor", :width => "629"}
                          %tr
                            %td{:align => "left"}
                              %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                %tr
                                  %th.stack2{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;border-bottom:1px solid #dde5f1;", :width => "209"}
                                    %table.table60032{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.header2TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                          %b
                                            Application Fee
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                  %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                    %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                            = @currency
                                            = @application_fee
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                  %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                    %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                  %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                    %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           
                                      %tr
                                        %td.wz2{:width => "30"}
                                        %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                          %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %td.wz2{:width => "30"}
                                      %tr
                                        %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                           

    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "InvoiceItemDetailsModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-6.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:629px;"}
                      %table.table600{:align => "left", :bgcolor => "#eff3f7", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CalculationsBGColor", :width => "629"}
                        %tr
                          %td{:align => "left"}
                            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tr
                                %th.stack2{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;border-bottom:1px solid #dde5f1;", :width => "209"}
                                  %table.table60032{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.header2TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %b
                                          VAT of Total Price
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                          = @currency
                                          = @vat_price
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "InvoiceItemDetailsModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-6.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:629px;"}
                      %table.table600{:align => "left", :bgcolor => "#eff3f7", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CalculationsBGColor", :width => "629"}
                        %tr
                          %td{:align => "left"}
                            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tr
                                %th.stack2{"data-border-bottom-color" => "borderColor", :style => "margin:0; padding:0;border-bottom:1px solid #dde5f1;", :width => "209"}
                                  %table.table60032{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "209"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.header2TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %b
                                          Total Price Transferred 
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                %th.stack3{"data-border-bottom-color" => "borderColor", "data-border-left-color" => "borderColor", :style => "border-left:1px solid #dde5f1;border-bottom:1px solid #dde5f1;margin:0; padding:0;", :width => "139"}
                                  %table.table60033{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "139"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
                                    %tr
                                      %td.wz2{:width => "30"}
                                      %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                        %a{"data-color" => "RegularLink", :href => "#", :style => "text-decoration: none;color: #67bffd;", :target => "_blank"}
                                        %b
                                          = @currency
                                          = @total_price
                                      %td.wz2{:width => "30"}
                                    %tr
                                      %td.va2{:colspan => "3", :height => "20", :style => "font-size:0;line-height:1;"}
                                         
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "FinalNotesModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-9.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:style => "min-width:629px;"}
                      %table.table600{:align => "left", :bgcolor => "#fdfdfd", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "CredentialsBGColor", :style => "border-radius:0 0 6px 6px;", :width => "629"}
                        %tr
                          %td
                            %table.table600{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "627"}
                              %tr
                                %td.va2{:colspan => "3", :height => "25", :style => "font-size:0;line-height:1;"}
                                   
                              %tr
                                %td.wz{:width => "30"}
                                %td.RegularText5TD{"data-color" => "RegularTXT", "data-link-color" => "RegularLink", "data-link-style" => "text-decoration:none; color:#67bffd;", :style => "color: #425065;font-family: sans-serif;font-size: 14px;font-weight: lighter;text-align: center;line-height: 23px;"}
                                  All prices include Moms / VAT
                                  %br/
                                  %br/
                                  %b
                                    Website:
                                  www.jube.co
                                  %br/
                                  %b
                                    Address:
                                  Bregnerødgade 18, 1 - 2200 Kbh. N.
                                  %br/
                                  %b
                                    Contact information:
                                   +45 20517216 // +45 53841953
                                  %br/
                                  Jube IVS: 38350420
                                  %br/
                                  %br/
                                  %a{"data-color" => "RegularLink", :href => "http://www.jube.co", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                    www.jube.co
                                  %br/
                                  %a{"data-color" => "RegularLink", :href => "mailto:Help@jube.co", :style => "text-decoration: none;color: #67bffd;font-weight: bold;", :target => "_blank"}
                                    Help@jube.co
                                %td.wz{:width => "30"}
                              %tr
                                %td.va2{:colspan => "3", :height => "30", :style => "font-size:0;line-height:1;"}
                                   
    %table{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", "data-module" => "FooterModule", "data-thumb" => "http://www.emailtemplatebuilders.com/INVOICE-Generator/03_TBThumbnails/module-10.jpg", :style => "table-layout:fixed;margin:0 auto;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:668px;", :width => "668"}
            %tr
              %td.table600st{:align => "center", :style => "min-width:668px;"}
                %table.table600Min{:align => "center", :bgcolor => "#384855", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "TemplateBGColor", :style => "table-layout:fixed;margin:0 auto;min-width:629px;", :width => "629"}
                  %tr
                    %td.table600st{:align => "center", :style => "min-width:629px;"}
                      %table.table600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "610"}
                        %tr
                          %td{:height => "25"}
                        %tr
                          / NOTES
                          %td.companyAddressTD{"data-color" => "FooterCaptionTXT", "data-link-color" => "FooterCaptionLink", "data-link-style" => "text-decoration:none; color:#ffffff;", :style => "color: #67bffd;font-family: sans-serif;font-size: 13px;text-align: center;font-weight: bold;line-height: 190%;"}
                        %tr
                          %td{:height => "25", :style => "font-size:0;line-height:1;"}
                             
                        %tr
                          / == MAILING OPTIONS = NOTICE AND LEGAL DESCRIPTION =
                          / == ATTENTION = UNSUBSCRIBE LINK IS BUILT WITH NECESSARY TAG (You can examine the href attribute of the Link) TO MAKE THEM WORK WITHIN STAMPREADY==
                          %td.mailingOptionsTD{"data-color" => "MailingOptionsTXT", "data-link-color" => "MailingOptionsLink", "data-link-style" => "text-decoration:none; color:#ffffff;", :style => "color: #aab1bd;font-family: sans-serif;font-size: 12px;text-align: center;line-height: 170%;"}
                            This is a receipt sent from JUBE as a service. If you have any inquiries reach out to us.
                            %br/
                        %tr
                          %td{:height => "25"}
