!!!
%html
  %head
    %meta{:content => "exported via StampReady", :name => "sr_export"}/
    %meta{:content => "exported via StampReady", :name => "sr_export"}/
    %meta{:content => "exported via StampReady", :name => "sr_export"}/
    %meta{:content => "exported via StampReady", :name => "sr_export"}/
    %meta{:content => "exported via StampReady", :name => "sr_export"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1", :name => "viewport"}/
    :css
      div, p, a, li, td {
          -webkit-text-size-adjust:none;
        }
        *{
          -webkit-font-smoothing: ;
          -moz-osx-font-smoothing: grayscale;
        }
        .ReadMsgBody{
          width: 100%;
          background-color: #ffffff;
        }
        .ExternalClass{
          width: 100%;
          background-color: #ffffff;
        }
        /*body*/ #tc_central{
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          margin:0;
          padding:0;
          -webkit-font-smoothing: ;
        }
        /*html*/ #tc_central{
          width: 100%;
          background-color: #ffffff;
        }
        @font-face {
          font-family: 'proxima_novalight';
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-light-webfont.eot');
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/products/font/proximanova-light-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/products/font/proximanova-light-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: 'proxima_nova_rgregular';
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-regular-webfont.eot');
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/products/font/proximanova-regular-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/products/font/proximanova-regular-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: 'proxima_novasemibold';
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-semibold-webfont.eot');
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/products/font/proximanova-semibold-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/products/font/proximanova-semibold-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: 'proxima_nova_rgbold';
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-bold-webfont.eot');
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/products/font/proximanova-bold-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/products/font/proximanova-bold-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: 'proxima_novathin';
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-thin-webfont.eot');
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/products/font/proximanova-thin-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/products/font/proximanova-thin-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
        }
        @font-face {
          font-family: 'proxima_novaextrabold';
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-extrabold-webfont.eot');
          src: url('http://rocketway.net/themebuilder/products/font/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),url('http://rocketway.net/themebuilder/products/font/proximanova-extrabold-webfont.woff2') format('woff2'),url('http://rocketway.net/themebuilder/products/font/proximanova-extrabold-webfont.woff') format('woff'),url('http://rocketway.net/themebuilder/products/font/proximanova-extrabold-webfont.ttf') format('truetype');
          font-weight: normal;
          font-style: normal;
        }
        p {
          padding: 0!important;
          margin-top: 0!important;
          margin-right: 0!important;
          margin-bottom: 0!important;
          margin-left: 0!important;
        }
        .hover:hover {
          opacity:0.85;
          filter:alpha(opacity=85);
        }
        .underline:hover {
          text-decoration: underline!important;
        }
        .brightness:hover {
          filter: brightness(80%);
          -webkit-filter: brightness(80%);
          -moz-filter: brightness(80%);
          -o-filter: brightness(80%);
          -ms-filter: brightness(80%);
        }
        .opacity img{
          opacity: 0.2;
          filter: alpha(opacity=20);
        }
        a:hover.opacity img{
          opacity: 1;
          filter: alpha(opacity=100);
        }
        a.opacity:hover img{
          opacity: 1;
          filter: alpha(opacity=100);
        }
        .jump:hover {
          opacity:0.75;
          filter:alpha(opacity=75);
          padding-top: 10px!important;
        }
        a#rotator img {
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
        }
        a#rotator img:hover {
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
        }
        #box {
          -webkit-animation: bounceInLeftFast 2s;
          -moz-animation: bounceInLeftFast 2s;
          -o-animation: bounceInLeftFast 2s;
          animation: bounceInLeftFast 2s;
        }
        @-webkit-keyframes bounceInLeftFast {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
          }
          60% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }
          80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @-moz-keyframes bounceInLeftFast {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
          }
          60% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }
          80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @-o-keyframes bounceInLeftFast {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
          }
          60% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }
          80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        #box2 {
          -webkit-animation: bounceInLeftSlow 3s;
          -moz-animation: bounceInLeftSlow 3s;
          -o-animation: bounceInLeftSlow 3s;
          animation: bounceInLeftSlow 3s;
        }
        @-webkit-keyframes bounceInLeftSlow {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
          }
          60% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }
          80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @-moz-keyframes bounceInLeftSlow {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
          }
          60% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }
          80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @-o-keyframes bounceInLeftSlow {
          0% {
            opacity: 0;
            -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
          }
          60% {
            opacity: 1;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
          }
          80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        #logo img {
          width: 125px;
          height: auto;
        }
        #icon12 img {
          width: 12px;
          height: auto;
        }
        .icon28 img {
          width: 28px;
          height: auto;
        }
        .image185 img {
          width: 185px;
          height: auto;
        }
        .image100 img {
          width: 100px;
          height: auto;
        }
        .image270 img {
          width: 270px;
          height: auto;
        }
        .image600 img {
          width: 600px;
          height: auto;
        }
        .check img {
          width: 13px;
          height: auto;
        }
    :css
      .ReadMsgBody {
          width: 100%;
          background-color: #ffffff;
        }
        .ExternalClass {
          width: 100%;
          background-color: #ffffff;
        }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
          line-height: 100%;
        }
        html {
          width: 100%;
        }
        body {
          -webkit-text-size-adjust: none;
          -ms-text-size-adjust: none;
          margin: 0;
          padding: 0;
        }
        table {
          border-spacing: 0;
          table-layout: fixed;
          margin: 0 auto;
        }
        table table table {
          table-layout: auto;
        }
        img {
          display: block !important;
          overflow: hidden !important;
        }
        table td {
          border-collapse: collapse;
        }
        .yshortcuts a {
          border-bottom: none !important;
        }
        a {
          color: #3498db;
          text-decoration: none;
        }
        .textbutton a {
          font-family: 'open sans', arial, sans-serif !importat;
          color: #ffffff !important;
        }
        .footer-link a {
          color: #979797 !important;
        }
        /*Responsive*/@media only screen and (max-width: 590px) {
          body {
            width: auto !important;
          }
          table[class="zay600"] {
            width: 450px !important;
          }
          table[class="zay-inner"] {
            width: 90% !important;
          }
          table[class="zay2-2"] {
            width: 47% !important;
            text-align: left !importatrtant;
          }
          table[class="zay3-3"] {
            width: 100% !important;
            text-align: center !important;
          }
          table[class="zay4-4"] {
            width: 29% !important;
          }
          table[class="zay5-5"] {
            width: 64% !important;
            text-align: left !important;
          }
          td[class="header-td"] {
            height: 50px !important;
            max-height: 50px !important;
            line-height: 0px !important;
          }
          td[class="td-hide"] {
            height: 0px !important;
            max-height: 0px !important;
            line-height: 0px !important;
          }
          /* Image */img[class="img1"] {
            width: 100% !important;
            height: auto !important;
          }
        }
        @media only screen and (max-width: 479px) {
          body {
            width: auto !important;
          }
          table[class="zay600"] {
            width: 290px !important;
          }
          table[class="zay-inner"] {
            width: 82% !important;
          }
          table[class="zay2-2"] {
            width: 100% !important;
            text-align: center !important;
          }
          table[class="zay3-3"] {
            width: 100% !important;
            text-align: center !important;
          }
          table[class="zay4-4"] {
            width: 100% !important;
          }
          table[class="zay5-5"] {
            width: 100% !important;
            text-align: center !important;
          }
          td[class="header-td"] {
            height: 50px !important;
            max-height: 20px !important;
            line-height: 0px !important;
          }
          td[class="td-hide"] {
            height: 0px !important;
            max-height: 0px !important;
            line-height: 0px !important;
          }
          /* image */img[class="img1"] {
            width: 100% !important;
          }
        }
        /* Moving Dots */    .dot1 {
          -webkit-animation: dot1 18s linear infinite;
          animation: dot1 18s linear infinite;
        }
        @-webkit-keyframes dot1 {
          0% {
            left: 0%;
            bottom: 0%;
          }
          100% {
            left: 100%;
            bottom: 70%;
          }
        }
        @-moz-keyframes dot1 {
          0% {
            left: 0%;
            bottom: 0%;
          }
          100% {
            left: 100%;
            bottom: 70%;
          }
        }
        .dot2 {
          -webkit-animation: dot2 10s linear infinite;
          animation: dot2 10s linear infinite;
        }
        @-webkit-keyframes dot2 {
          0% {
            left: 0%;
            bottom: 10%;
          }
          100% {
            left: 100%;
            bottom: 50%;
          }
        }
        @-moz-keyframes dot2 {
          0% {
            left: 0%;
            bottom: 10%;
          }
          100% {
            left: 100%;
            bottom: 50%;
          }
        }
        .dot3 {
          -webkit-animation: dot3 14s linear infinite;
          animation: dot3 14s linear infinite;
        }
        @-webkit-keyframes dot3 {
          0% {
            right: 0%;
            top: 10%;
          }
          100% {
            right: 100%;
            top: 60%;
          }
        }
        @-moz-keyframes dot3 {
          0% {
            right: 0%;
            top: 10%;
          }
          100% {
            right: 100%;
            top: 60%;
          }
        }
        .dot4 {
          -webkit-animation: dot4 8s linear infinite;
          animation: dot4 8s linear infinite;
        }
        @-webkit-keyframes dot4 {
          0% {
            right: 40%;
            bottom: 0%;
          }
          100% {
            right: 60%;
            bottom: 100%;
          }
        }
        @-moz-keyframes dot4 {
          0% {
            right: 40%;
            bottom: 0%;
          }
          100% {
            right: 60%;
            bottom: 100%;
          }
        }
        .dot5 {
          -webkit-animation: dot5 30s linear infinite;
          -webkit-animation-delay: 2s;
          animation: dot5 30s linear infinite;
          animation-delay: 2s;
        }
        @-webkit-keyframes dot5 {
          0% {
            right: 80%;
            bottom: 0%;
          }
          100% {
            right: 50%;
            bottom: 100%;
          }
        }
        @-moz-keyframes dot5 {
          0% {
            right: 80%;
            bottom: 0%;
          }
          100% {
            right: 50%;
            bottom: 100%;
          }
        }
        .dot6 {
          -webkit-animation: dot6 60s linear infinite;
          -webkit-animation-delay: 4s;
          animation: dot6 linear infinite;
          animation-delay: 4s;
        }
        @-webkit-keyframes dot6 {
          0% {
            right: 0%;
            top: 40%;
          }
          100% {
            right: 100%;
            top: 60%;
          }
        }
        @-moz-keyframes dot6 {
          0% {
            right: 0%;
            top: 40%;
          }
          100% {
            right: 100%;
            top: 60%;
          }
        }
        .dot7 {
          -webkit-animation: dot7 16s linear infinite;
          animation: dot7 16s linear infinite;
        }
        @-webkit-keyframes dot7 {
          0% {
            left: 5%;
            bottom: 0%;
          }
          100% {
            left: 20%;
            bottom: 100%;
          }
        }
        @-moz-keyframes dot7 {
          0% {
            left: 5%;
            bottom: 0%;
          }
          100% {
            left: 20%;
            bottom: 100%;
          }
        }
        .dot8 {
          -webkit-animation: dot8 6s linear infinite;
          -webkit-animation-delay: 3s;
          animation: dot8 6s linear infinite;
        }
        @-webkit-keyframes dot8 {
          0% {
            left: 0%;
            bottom: 30%;
          }
          100% {
            left: 100%;
            bottom: 10%;
          }
        }
        @-moz-keyframes dot8 {
          0% {
            left: 0%;
            bottom: 30%;
          }
          100% {
            left: 100%;
            bottom: 10%;
          }
        }
        .dot9 {
          -webkit-animation: dot9 22s linear infinite;
          animation: dot9 22s linear infinite;
        }
        @-webkit-keyframes dot9 {
          0% {
            left: 0%;
            bottom: 60%;
          }
          100% {
            left: 100%;
            bottom: 90%;
          }
        }
        @-moz-keyframes dot9 {
          0% {
            left: 0%;
            bottom: 60%;
          }
          100% {
            left: 100%;
            bottom: 90%;
          }
        }
        .dot10 {
          -webkit-animation: dot10 14s linear infinite;
          -webkit-animation-delay: 2s;
          animation: dot10 14s linear infinite;
          animation-delay: 2s;
        }
        @-webkit-keyframes dot10 {
          0% {
            right: 5%;
            top: 0%;
          }
          100% {
            right: 45%;
            top: 100%;
          }
        }
        @-moz-keyframes dot10 {
          0% {
            right: 5%;
            top: 0%;
          }
          100% {
            right: 45%;
            top: 100%;
          }
        }
  %body
    / img
    / left
    / end left
    / end img
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    / End Avatar Image
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-module" => "module 1_31388_56284_25027", :style => "position: relative; opacity: 1; z-index: 0; background-color: #77bbff;max-width: 900px;box-shadow: 0 0px 2px #cecece;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.zay600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "90%"}
            %tr
              %td{:align => "center"}
                %table.zay600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                  %tr
                    %td
                      %table.zay3-3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "88"}
                        / logo
                        %tr
                          %td{:align => "center", :style => "line-height:0px;", :valign => "center"}
                            %a{:href => "http://www.jube.co"}
                              = image_tag("http://www.dk.jube.co/assets/img0.png", :alt => "img", :height => "88", :style => "display:block; font-size:0px; line-height:0px; border:0px;", :width => "88")
                        / end logo
                      / Space
                      / End Space
      %tr
        %td{:align => "center"}
          %table.class-inner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tr
              %td{"data-border-bottom-color" => "Divider Line5", :style => "border-bottom: 1px solid rgb(255, 255, 255); box-shadow: rgb(206, 206, 206) 0px 0px 2px;"}
    %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "Background", "data-module" => "module 53_65551_55969", "data-thumb" => "http://www.stampready.net/dashboard/editor/user_uploads/image_uploads/2015/12/31/tZxnvK6XYj9dp3yufWF0wO51bQokiHBM.jpg", :style => "position: relative; opacity: 1; z-index: 0; background-color: rgb(255, 255, 255);", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.zay600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tr
              %td{:height => "55"}
            %tr
              %td
                %table.zay3-3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td
                      %table.zay3-3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "50%"}
                        %tr
                          %td{:align => "center", "data-color" => "Feature02", "data-size" => "Feature02", "mc:edit" => "content title 8", :style => "font-family: 'Open Sans', Arial, sans-serif; font-size: 30px; font-weight: 100; color: rgb(105, 105, 105); line-height: 43.5px;"}
                            Welcome
                            = @person.given_name.capitalize
                            !
            %tr
              %td{:height => "20"}
            %tr
              %td{:align => "center", "data-color" => "Date21", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Date21", :style => "font-family: 'Open Sans', Arial, sans-serif; color: rgb(255, 105, 105); font-size: 14px;"}
            %tr
              %td{:height => "5"}
            %tr
              %td{:align => "center", :style => "background-color: rgb(255, 255, 255);"}
                / img
                / end img
                %table.zay3-3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:align => "center"}
                      %table.zay3-3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td
                            %table.zay-inner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              / title
                              %tr
                                %td{:align => "center", "data-color" => "Headline", "data-link-color" => "Content Link", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Headline", :style => "font-family: \"Open Sans\", Arial, sans-serif; color: rgb(145, 145, 145); font-size: 14px; font-weight: 400; line-height: 23.8px; text-align: center;"}
                                  We have validated you, using your uploaded ID. We welcome you on board !
                                  %br/
                                  %br/
                                  Remember to enter your payment information and phone number under settings, in order to use JUBE.
                                  %br/
                                  %b
                                    %br/
                                  %span
                                    With love from the JUBE team
                              %tr
                                %td{:height => "20"}
                              / end title
                %table.zay3-3{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "250"}
                  %tr
                    %td{:align => "right"}
                      %table{:align => "center", :bgcolor => "#e54a39", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-bgcolor" => "Main1", :style => "border-radius: 4px; padding-left: 10px; padding-right: 10px; background-color: rgb(255, 105, 105);"}
                        %tr
                          %td{:align => "center", :height => "38", :style => "font-family: 'Open Sans', Arial, sans-serif; font-size: 14px; font-weight: 400; color: #FFFFFF; line-height: 24px; padding-left: 25px; padding-right: 25px; border-radius: 20px;"}
                            %a{:href => "http://www.jube.co", :style => "color: rgb(255, 255, 255);"}
                              jube.co
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-module" => "module 20_68090_25781_38498", :style => "position: relative; opacity: 1; z-index: 0;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.zay600{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tr
              %td{:height => "50"}
            %tr
              %td{:align => "center", "data-color" => "Feature02", "data-size" => "Feature02", :style => "font-family: 'Open Sans', Arial, sans-serif; font-size: 30px; font-weight: 100; color: rgb(105, 105, 105); line-height: 43.5px;"}
                %span
                  Jube in a nutshell
            %tr
              %td{:align => "center", "data-color" => "Content1", "data-size" => "Content1", :style => "font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: rgb(168, 168, 168); line-height: 23.8px;"}
            %tr
              %td{:height => "25"}
            %tr
              %td
                %table.zay3-3{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "183"}
                  %tr
                    %td{:align => "center"}
                      %a{:href => "https://www.dk.jube.co/en/listings/new", :style => "color: rgb(255, 255, 255);"}
                        = image_tag("http://www.dk.jube.co/assets/img1.jpg", :alt => "img", :height => "183", :width => "183")
                  %tr
                    %td{:height => "20"}
                  %tr
                    %td{:align => "left", "data-color" => "Headline1", "data-link-color" => "Content Link", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Headline1", :style => "font-family: \"Open Sans\", Arial, sans-serif; color: rgb(136, 119, 119); font-size: 18px; font-weight: 400; line-height: 26.1px; text-align: center;"}
                      %multiline
                        CREATE A LISTING
                  %tr
                    %td{:align => "left", "data-color" => "Main Texts", "data-link-color" => "Content Link1", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Main Text", :style => "font-family: \"Open Sans\", Arial, sans-serif; color: rgb(255, 105, 105); font-size: 15px; line-height: 25.5px; text-align: center;"}
                  %tr
                    %td{:height => "15"}
                  %tr
                    %td{:align => "left", "data-color" => "Content", "data-size" => "Content", :style => "font-family: \"Open Sans\", sans-serif; font-size: 14px; font-weight: 400; color: rgb(145, 145, 145); line-height: 23.8px; text-align: center;"}
                      Click here to create your first listing.
                      %br/
                  %tr
                    %td{:height => "20"}
                  %tr
                    %td{:align => "left"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "130"}
                        %tr
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                / SPACE
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "40", :width => "24"}
                  %tr
                    %td{:height => "40", :style => "line-height: 0;"}
                       
                / SPACE
                %table.zay3-3{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "183"}
                  %tr
                    %td{:align => "center"}
                      = image_tag("http://www.dk.jube.co/assets/img2.jpg", :alt => "img", :height => "183", :width => "183")
                  %tr
                    %td{:height => "20"}
                  %tr
                    %td{:align => "left", "data-color" => "Headline1", "data-link-color" => "Content Link", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Headline1", :style => "font-family: \"Open Sans\", Arial, sans-serif; color: rgb(136, 119, 119); font-size: 18px; font-weight: 400; line-height: 26.1px; text-align: center;"}
                      %multiline
                        JUBE IN 60 SECONDS
                  %tr
                    %td{:align => "left", "data-color" => "Main Texts", "data-link-color" => "Content Link1", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Main Text", :style => "font-family: \"Open Sans\", Arial, sans-serif; color: rgb(255, 105, 105); font-size: 15px; line-height: 25.5px; text-align: center;"}
                  %tr
                    %td{:height => "15"}
                  %tr
                    %td{:align => "left", "data-color" => "Content", "data-size" => "Content", :style => "font-family: \"Open Sans\", sans-serif; font-size: 14px; font-weight: 400; color: rgb(145, 145, 145); line-height: 23.8px; text-align: center;"}
                      A short introduction to jube in 60 seconds
                  %tr
                    %td{:height => "20"}
                  %tr
                    %td{:align => "left"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "130"}
                        %tr
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                / SPACE
                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :height => "40", :width => "1"}
                  %tr
                    %td{:height => "40", :style => "line-height: 0;"}
                       
                / SPACE
                %table.zay3-3{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "183"}
                  %tr
                    %td{:align => "center"}
                      %a{:href => "https://www.dk.jube.co/?view=map&q="}
                        = image_tag("http://www.dk.jube.co/assets/img3.jpg", :alt => "img", :height => "183", :width => "183" )
                  %tr
                    %td{:height => "20"}
                  %tr
                    %td{:align => "left", "data-color" => "Headline1", "data-link-color" => "Content Link", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Headline1", :style => "font-family: \"Open Sans\", Arial, sans-serif; color: rgb(136, 119, 119); font-size: 18px; font-weight: 400; line-height: 26.1px; text-align: center;"}
                      SEARCH GEAR
                  %tr
                    %td{:align => "left", "data-color" => "Main Texts", "data-link-color" => "Content Link1", "data-link-style" => "text-decoration:none; color:#3498db;", "data-size" => "Main Text", :style => "font-family: \"Open Sans\", Arial, sans-serif; color: rgb(255, 105, 105); font-size: 15px; line-height: 25.5px; text-align: center;"}
                  %tr
                    %td{:height => "15"}
                  %tr
                    %td{:align => "left", "data-color" => "Content", "data-size" => "Content", :style => "font-family: \"Open Sans\", sans-serif; font-size: 14px; font-weight: 400; color: rgb(145, 145, 145); line-height: 23.8px; text-align: center;"}
                      Click here to search gear on JUBE
                  %tr
                    %td{:height => "20"}
                  %tr
                    %td{:align => "left"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "130"}
                        %tr
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
                          %td{:width => "10"}
                          %td{:align => "center", :style => "line-height:0px", :width => "25"}
                            %a{:href => "#", :style => "color: rgb(255, 255, 255);"}
            %tr
              %td{:height => "50"}
    %table.bg_color{:bgcolor => "ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "data-module" => "19_97036_17006", "data-thumb" => "http://www.stampready.net/dashboard/editor/user_uploads/image_uploads/2015/12/31/C6u8SZAMlGNsgPc0wTx1OYfXdiaWe2VK.jpg", :style => "position: relative; opacity: 1; z-index: 0;", :width => "100%"}
      %tr
        %td{:align => "center"}
          %table.container590{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "590"}
            %tr
              %td{:align => "center"}
                %table.container590{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "290"}
                  %tr
                    %td{:align => "left", :style => "line-height:0px;", :valign => "middle"}
                      %a{:href => "http://www.jube.co"}
                        = image_tag("http://www.dk.jube.co/assets/img4.png", :alt => "img", :height => "88", :style => "display:block; font-size:0px; line-height:0px; border:0px;", :width => "88" )
                  %tr
                    %td{:height => "25", :style => "font-size: 25px; line-height: 25px;"}
                       
                  %tr
                    %td.text_color{:align => "left", :style => "color: #848484; font-size: 15px; font-family: 'Raleway', Calibri, sans-serif; mso-line-height-rule: exactly; line-height: 24px;"}
                      .editable_text{:style => "line-height: 24px"}
                        / ======= section text =======
                        %span.text_container
                          Do you have questions, comments, feedback or just want to chat? Reach out to us by email, phone or Intercom (the blue circle in right corner on the website)
                  %tr
                    %td{:height => "15", :style => "font-size: 15px; line-height: 15px;"}
                       
                  %tr
                    %td{:align => "left"}
                      %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %a.editable_img{:href => "https://www.facebook.com/Jube-1610059609233318/", :style => "display: block; color: rgb(255, 255, 255);"}
                            = image_tag("http://www.dk.jube.co/assets/img5.png", :alt => "", :border => "0", :height => "13", :style => "display: block; width: auto;", :width => "6" )
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                          %td
                                 
                          %td
                            %a.editable_img{:style => "display: block; color: rgb(255, 255, 255);"}
                %table.container590{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "5"}
                  %tr
                    %td{:height => "30", :style => "font-size: 30px; line-height: 30px;", :width => "5"}
                       
                %table.container590{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;", :width => "240"}
                  %tr
                    %td{:height => "60", :style => "font-size: 50px; line-height: 50px;"}
                       
                  %tr
                    %td.title_color{:align => "left", :style => "color: #25201f; font-size: 20px; font-family: 'Raleway', Calibri, sans-serif; font-weight: 500; mso-line-height-rule: exactly; line-height: 24px;"}
                      / ======= main header =======
                      .editable_text{:style => "line-height: 24px;"}
                        %span.text_container
                          CONTACT US
                  %tr
                    %td{:height => "20", :style => "font-size: 20px; line-height: 20px;"}
                       
                  %tr
                    %td.title_color{:align => "left", :style => "color: rgb(47, 39, 32); font-size: 14px; font-family: Raleway, Calibri, sans-serif; line-height: 28px; text-align: left;"}
                      / ======= main header =======
                      .editable_text{:style => "line-height: 28px;"}
                        %span.text_container
                          JUBE.co
                      .editable_text{:style => "line-height: 28px;"}
                        %span.text_container
                          Help@jube.co
                      .editable_text{:style => "line-height: 28px;"}
                        %span.text_container
                          +45 20 51 72 16
                  %tr
                    %td{:height => "20", :style => "font-size: 20px; line-height: 20px;"}
                       
                  %tr
                    %td.title_color{:align => "left", :style => "color: #2f2720; font-size: 14px; font-family: 'Raleway', Calibri, sans-serif; mso-line-height-rule: exactly; line-height: 24px;"}
      %tr
        %td{:height => "45", :style => "font-size: 45px; line-height: 45px;"}
           
