- url = person_message_url(@recipient, @url_params.merge({:id =>  @transaction.conversation.id.to_s})) + "#message#{@transaction.conversation.messages.last.id.to_s}"
%tr
  %td{:align => "left"}
    %font{body_font}
    - if @transaction.notification_status == "sent"
      %p
        Your request for #{@transaction.listing.title} has been sent to the #{@transaction.seller.given_name_or_username}.
    - elsif @transaction.notification_status == "accept"
      %p
        #{@transaction.seller.given_name_or_username} has accepted your request for #{@transaction.listing.title}. Confirm the last details, and then remember to click accept!.
    - elsif @transaction.notification_status == "decline"
      %p
        #{@transaction.seller.given_name_or_username} has declined your request for #{@transaction.listing.title}.
    - elsif @transaction.notification_status == "paid"
      %p
        Payment done successfully. Have fun and be creative !

= render :partial => "action_button", :locals => { :text => t("emails.new_message.view_message"), :url => url}
