%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
- content_for :javascript do
  initialize_update_notification_settings_form("#{I18n.locale}","#{@person.id.to_s}");

.strip_error
- custom_url = @card_detail.new_record? ? create_credit_detail_person_settings_path(:person_id => @current_user.id) : update_credit_detail_person_settings_path(:person_id => @current_user.id)
= hidden_field_tag :custom_url, custom_url
= hidden_field_tag :redirect_url, request.fullpath
.white-box
  .question-mark
    .tooltip
      %img{:alt => "", :src => "/assets/icon4.png"}/
      .tooltiptext
        %b The money
        is charged when both renter and owner
        %b accept
        the booking.
        %b All payment information
        is handled confidentially using
        %b Stripe.com
  .payment-row
    .payment-image
      %img{:alt => "", :src => "/assets/icon9.png"}/
    %h6 Payment information.
    %p (Payment is made when booking is complete)
  .card-field-row
    = label_tag :name, t("braintree_payments.edit.cardholder_name"), :class => "preauthorize-exp"
    = text_field_tag :strip_name, @card_detail.new_record? ? "" : @card_detail.name, :class => :text_field, :placeholder => t("braintree_payments.edit.cardholder_name")
  .card-field-row
    .number-field
      = label_tag :number, t("braintree_payments.edit.credit_card_number"), :class => "preauthorize-exp"
      = text_field_tag :strip_number, @card_detail.new_record? ? "" : "**** **** **** #{@card_detail.number[-4..-1]}", :class => :text_field, :placeholder => t("braintree_payments.edit.credit_card_number")
    .cvv-field
      = label_tag :cvv, t("braintree_payments.edit.cvv"), :class => "preauthorize-exp"
      = text_field_tag :strip_cvv, @card_detail.new_record? ? "" : "***", :class => :text_field, :maxlength => 4, :placeholder => t("braintree_payments.edit.cvv")
    .exp-field
      .card-select.vat-select
        = select_tag :strip_exp_month, options_for_select(credit_card_expiration_month_options, :selected => @card_detail.exp_month)
      .card-select
        = " / "
      .card-select.vat-select.year-select
        = select_tag :strip_exp_year, options_for_select(credit_card_expiration_year_options, :selected => @card_detail.exp_year)
      = hidden_field_tag "transaction_id", "", :value => params[:transaction].present? ? params[:transaction] : ""
      = hidden_field_tag "pub_key", "", :value => STRIPE[:pub_key]

  .card-button
    = button_tag "Submit", :class => "submit_card_detail submit_form"
    = image_tag "small_loader.gif", :class => "card_small_loader"
    .validated
      - if @current_user && !@current_user.card_detail.id.nil?
        = image_tag('validated-icon.png')
