= form_tag update_person_details_person_settings_path(:person_id => @person.id), :multipart => true do
  .white-box
    - if @person && @person.id_proof_file_name.present?
      / - if @person.is_verify
      .check-icon
        %img{:alt => "", :src => "/assets/check.png"}/
      .uploaded-text
        %p Your ID has now been uploaded
        %p
          %span Final verification can take a few hours.
      .picture-link
        = link_to 'Click here to upload a new picture', id_verification_person_settings_path(@person)
      / - else
      /   Thank you submitting your ID. We will let you know as soon as you are verified
    - else
      .question-mark
        %a{:href => "javascript:void(0)"}
          %img{:alt => "", :src => "/assets/icon4.png"}/
      .payment-row
        .payment-image
          %img{:alt => "", :src => "/assets/icon10.png"}/
        %h6#id-proof Upload personal ID
        %p
          Other users can not see your ID. Your information is 100% safe.
          %br
          We make this possible in collaboration with IDCheck.io.
      .upload-box
        .upload-left
          .upload-input
            = file_field_tag :id_proof, id: 'upload1'
          %p
            %strong Choose file
            or drag and drop
          = button_tag "Submit", :class => "send_button submit_form"
%button{class: 'submit_form accept-button', id: 'proceed-btn'} PROCEED TO BOOKING

- content_for :extra_javascript do
  :javascript
    $('#proceed-btn').click(function() {
      if ('#{@current_user.card_detail.new_record?}' == 'true'){
        addError("name");
        addError("number");
        addError("cvv");
      }
      if ('#{@current_user.given_name.present?}' == 'false') {
        addError("person_given_name");
      }
      if ('#{@current_user.family_name.present?}' == 'false') {
        addError("person_family_name");
      }
      if ('#{@current_user.exact_address.present?}' == 'false') {
        addError("person_exact_address");
      }
      if ('#{@current_user.street_address.present?}' == 'false') {
        addError("person_street_address");
      }
      if ('#{@current_user.phone_number.present?}' == 'false') {
        addError("person_phone_number");
      }
      if ('#{@current_user.id_proof_file_name.present?}' == 'false') {
        $('#id-proof').append('<span class="icon-asterisk" style="color:red;"/>');
      }

      if ($('span.icon-asterisk').length > 0) {
        showMessage('Please complete the Information below to proceed further !');
        $('#proceed-btn').prop('disabled', true);
      } else {
        window.location.href = '#{new_transaction_url(listing_id: params[:listing_id], start_on: params[:start_on], end_on: params[:end_on])}';
      }

    });

    function showMessage(msg) {
      $('.wrapper').prepend('<div class="flash-notifications"><div class="flash-error flash-notification"><div class="flash-text">' + msg + '</div></div></div>');
        $('html, body').animate({ scrollTop: '50px' });
    }

    function addError(feild){
      $('label[for="' + feild + '"]').append('<span class="icon-asterisk" style="color:red;"/>');
    }
