- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"
.white-box#person_settings_form
  .question-mark
    .tooltip
      %img{:alt => "", :src => "/assets/icon4.png"}/
      .tooltiptext
        %b Your perosnal information
        is hidden from other users, until a booking is complete. Only your
        %b first name and
        %b zipcode is visible.
  .payment-row
    .payment-image
      %img{:alt => "", :src => "/assets/icon10.png"}/
    %h6 Enter personal information here
    %p
      or on your
      = link_to('profile settings page', person_settings_path(@person), :class => "profile_page") + "."
  = form_for @person do |form|
    - unless @person.is_organization
      .card-field-row
        .first-name
          = form.label :given_name, t("settings.profile.given_name")
          = form.text_field :given_name, :class => "text_field", :maxlength => "30"
        .last-name
          = form.label :family_name do
            Last name
            %span (Only visible when booking)
          = form.text_field :family_name, :class => "text_field", :maxlength => "30"
      .card-field-row
        .address-box
          = form.label :exact_address do
            Street address
            %span (Only visible when booking)
          = form.text_field :exact_address, :class => "text_field"
        .zip-box
          = form.label :street_address, "Zip code"
          = form.text_field :street_address, class: 'text_field', :onkeyup => "timed_input(this)"
      #settings_map_canvas.booking_map
        - content_for :extra_javascript do
          :javascript
            source = document.getElementById("person_street_address");
            $(document).ready(function(){
              googlemapMarkerInit("settings_map_canvas","person_location","person_street_address", true, #{tribe_latitude}, #{tribe_longitude});
              });
      = form.fields_for :location do |loc|
        = loc.hidden_field :address, :value => @person.try(:location).try(:address)
        = loc.hidden_field :google_address, :value => @person.try(:location).try(:google_address)
        = loc.hidden_field :latitude, :value => @person.try(:location).try(:latitude)
        = loc.hidden_field :longitude, :value => @person.try(:location).try(:longitude)
        = loc.hidden_field :location_type, :value => "person"
      .card-field-row
        = form.label :phone_number do
          Phone number
          %span (Only visible when booking)
        .phone-box-spilt
          .vat-select
            = form.select :country_code, options_for_select(get_country_codes(:phone_number), !@person.country_code.nil? ? @person.country_code : 45), :prompt => 'Select one'
          .vat-input
            = form.text_field :phone_number, class: :text_field, maxlength: '10', placeholder: "#{t("settings.sms_notifications.phone_placeholder")}"
      .card-button
        = form.button t("settings.save_information"), :class => "send_button submit_form"
        - if @person.given_name.present? && @person.family_name.present? && @person.exact_address.present? && @person.phone_number.present? && @person.street_address.present?
          .validated
            = image_tag('validated-icon.png')

  = form_for @person, :html => { :id => "vat_verification_#{@person.id}" } do |form|
    .vat-box
      %label
        VAT / CVR Number
        %span (Only visible when booking)
      %p
        %strong> Are you also a registered company?
        (Ex: if you have a production company, etc)
      .vat-field
        .vat-select
          = form.select :vat_country_code, options_for_select(get_country_codes(:vat_number), !@person.vat_country_code.nil? ? @person.vat_country_code : "DK"), :prompt => 'Select one'
        .vat-input
          = form.text_field :vat_number, :class => "text_field"
    .card-button
      = form.button "Submit", :class => "send_button submit_form"
      - if @person.vat_number.present?
        .validated
          = image_tag('validated-icon.png')
