%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}
- content_for :javascript do
  initialize_update_notification_settings_form("#{I18n.locale}","#{@person.id.to_s}");

- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@person, @current_community) }
#person_settings_form.left-navi-section.settings-section.id-verification-settings
  #helper_text
    .img-box-card
      = image_tag("credit-card.png")
    #insurance_text
      %ul{:id => "helper_dot"}
        - t("settings.help_text.strip_form").each_line do |text|
          %li= text
      = link_to "#", :class => "home_play_link" , :id => "3_img" do
        .how-to-video
          = image_tag("PlayerIcon.png", :class => "player-image")
          %span{:class => "video_text"}
            A QUICK HOW-TO VIDEO
      .youtube_video
        %iframe{:width => "600", :height => "400", :src => "https://www.youtube.com/embed/bwSA_WQkdyw", :frameborder => "0", :wmode => "transparent"}
  %br
  #stripe-logo
    Secure online payment is made possible in collaboration with Stripe
    = link_to image_tag("stripe-logo.png", :class => "stripe-img"), "//stripe.com", :target => "_blank"
  %br
  %br
  .strip_error
  - custom_url = @card_detail.new_record? ? create_credit_detail_person_settings_path(:person_id => @current_user.id) : update_credit_detail_person_settings_path(:person_id => @current_user.id)
  = hidden_field_tag :custom_url, custom_url
  .row
    .col-12
      = label_tag :name, t("braintree_payments.edit.cardholder_name"), :class => "preauthorize-exp"
      = text_field_tag :strip_name, @card_detail.new_record? ? "" : @card_detail.name, :class => :text_field, :placeholder => t("braintree_payments.edit.cardholder_name")
  .row
    .col-9
      = label_tag :number, t("braintree_payments.edit.credit_card_number"), :class => "preauthorize-exp"
      = text_field_tag :strip_number, @card_detail.new_record? ? "" : "**** **** **** #{@card_detail.number[-4..-1]}", :class => :text_field, :placeholder => t("braintree_payments.edit.credit_card_number")
    .col-3
      = label_tag :cvv, t("braintree_payments.edit.cvv"), :class => "preauthorize-exp"
      = text_field_tag :strip_cvv, @card_detail.new_record? ? "" : "***", :class => :text_field, :maxlength => 4, :placeholder => t("braintree_payments.edit.cvv")

  .row
    .col-9
      = label_tag :exp_month, t("braintree_payments.edit.exp"), :class => "preauthorize-exp"
      = select_tag :strip_exp_month, options_for_select(credit_card_expiration_month_options, :selected => @card_detail.exp_month)
      = " / "
      = select_tag :strip_exp_year, options_for_select(credit_card_expiration_year_options, :selected => @card_detail.exp_year)
  .row
    .col-12
      = hidden_field_tag "transaction_id", "", :value => params[:transaction].present? ? params[:transaction] : ""
      = hidden_field_tag "pub_key", "", :value => STRIPE[:pub_key]
      #verification
        #proof
          = button_tag "Submit", :class => "submit_card_detail submit_form"
          %span{:id => "verified-card"}
            - if @current_user && !@current_user.card_detail.id.nil?
              = image_tag("verified.png")
      = image_tag "small_loader.gif", :class => "card_small_loader"
:css
  #helper_text {
    background: #3399ff none repeat scroll 0 0 !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 20px 20px 40px 50px;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
  .img-box-card {
    float: left;
    margin: 4% auto auto;
    text-align: center;
    width: 100px;
  }
  #insurance_text {
    margin-left: 5%;
  }
  .home_play_link {
    display: block;
    margin-top: 25px;
  }
  .how-to-video {
    color: white;
    font-size: 25px;
    margin-left: 150px;
  }
  .player-image {
    height: 69px;
    vertical-align: middle;
    width: 69px;
  }
  .video_text {
    margin-left: 12px;
  }
  .youtube_video {
    display: none;
  }
  ul#helper_dot {
    margin-left: 150px;
  }
