- listing = Listing.find(params[:listing_id])
.owner-Info-box
  %h2.owner-Info-title
    = listing.title
  .owner-Info
    .owner-Info-image
      = link_to image_tag(listing.author.image.url(:thumb), alt: ''), person_path(listing.author)
    .owner-Info-content
      .owner-name
        = link_to person_path(listing.author) do
          %h6= listing.author.full_name
      .feedback-box
        - if listing.author.received_testimonials.size > 0
          - feedback = "#{listing.author.feedback_positive_percentage.to_s}% #{t("people.show.positive")} (#{listing.author.received_positive_testimonials.size}/#{listing.author.received_testimonials.size})"
        - else
          - feedback = 'No feedback yet'
        .feedback-icon
          %span.icon-star
        %p
          = feedback
        %p
          %span Feedback
.booking-status-box
  .status-col.active
    %label Creating Profile
    .booking-status-icon
      %img{:alt => "", :src => "/assets/icon8.png"}/
  .status-col.center
    %label Request sent
    .booking-status-icon
      %img{:alt => "", :src => "/assets/icon1.png"}/
  .status-col.center
    %label Owner accept
    .booking-status-icon
      %img{:alt => "", :src => "/assets/icon2.png"}/
  .status-col
    %label You accept and complete
    .booking-status-icon
      %img{:alt => "", :src => "/assets/icon3.png"}/
.info-text
  %p
    Hello!
    %strong Enter information below
    before moving on.  No payment is made
    %strong before booking is complete.
    Safety is alpha omega on Jube. If you have any questions, reach out to us, or check out the
    %a{:href => "https://www.dk.jube.co"} FAQ page.
