#person_settings_form.settings-section
  .status-main-box
    = render :partial => 'settings/top_header'
    = render :partial => 'settings/payment_info'
    = render :partial => 'settings/profile_detail'
    = render :partial => 'settings/personal_id_info'
    
