- content_for :javascript do
  initialize_new_community_membership_form("#{t("people.new.email_is_in_use_or_not_allowed")}",#{@current_community.join_with_invite_only?}, "#{t("people.new.invalid_invitation_code")}");

- content_for :title_header do
  %h1= t('.join_community', :community => @current_community.name(I18n.locale))

- if session[:fb_join] == "pending_analytics"
  - content_for :javascript do
    report_analytics_event(['user', "signed up", "facebook"]);
  - session[:fb_join] = "analytics_reported"

.centered-section
  %p
    - if @current_community.join_with_invite_only? && session[:invitation_code].blank?
      = t('.you_can_join_with_invite_only')
    - elsif @current_community.allowed_emails? && ! @current_user.has_valid_email_for_community?(@current_community)
      - if @current_community.allowed_emails.split(",").size > 1
        = t('.you_can_join_email_confirmation_multiple_addresses', :email_endings => @current_community.allowed_emails.split(",").join(", "))
      - else
        = t('.you_can_join_email_confirmation', :email_ending => @current_community.allowed_emails)
    - else
      - if session[:fb_join]
        = t('.welcome_fb_user', :name => @current_user.given_name_or_username)
        = t('.fb_join_accept_terms')
      - else
        = t('.you_can_join')

  - unless @current_user.communities.size < 1
    %p
      = t(".if_want_to_view_content")
      = link_to(t(".log_out"), logout_path) + "."

  = form_for @community_membership, :url => { :controller => "community_memberships", :action => "create" } do |form|

    - if @current_community.join_with_invite_only?
      - if session[:invitation_code]
        = hidden_field_tag "invitation_code", session[:invitation_code]
      - else
        = label_tag :invitation_code, t('people.new.invitation_code'), :class => "inline"
        = link_to t('common.what_is_this'), "#", :tabindex => "-1", :id => "help_invitation_code_link", :class => "label-info"
        = text_field_tag "invitation_code", nil, :class => :text_field, :maxlength => "20", :value => (params[:code] || "")

    - if @current_community.allowed_emails? && ! @current_user.has_valid_email_for_community?(@current_community)
      = form.label :email, t('people.new.email'), :class => "before_description"
      = form.text_field :email, :class => :text_field, :maxlenght => "255"

    - unless @skip_terms_checkbox
      .outer-checkbox-container
        .checkbox-container
          %input{:type => "checkbox", :id => "community_membership_consent", :name => "community_membership[consent]"}
          = form.label :consent, t('people.new.i_accept_the'), :class => "checkbox"
          = link_to t("people.new.terms"), "#", :tabindex => "-1", :id => "terms_link", :class => "form"
    = form.hidden_field :community_id, :value => @current_community.id
    = form.hidden_field :person_id, :value => @current_user.id
    = form.hidden_field :consent, :value => @current_community.consent
    - if session[:booking_params]
      = hidden_field_tag('listing_id', session[:booking_params][:listing_id])
      = hidden_field_tag('start_on', session[:booking_params][:start_on])
      = hidden_field_tag('end_on', session[:booking_params][:end_on])
      - session[:booking_params] = nil
    = button_tag(t('.join_community_button'), :class => "send_button")

= render :partial => "people/help_texts", :collection => ["terms", "help_invitation_code"], :as => :field
