- content_for :javascript do
  initialize_send_message_form('#{I18n.locale}');

.centered-section
  %h2= t("conversations.new.send_message_to_user", :person => link_to(@listing.author.given_name_or_username, @listing.author)).html_safe

.process-box
  .owner-Info-box
    .owner-Info
      .owner-Info-image
        = link_to image_tag(@listing.author.image.url(:thumb), alt: ''), person_path(@listing.author)
      .owner-Info-content
        .owner-name
          = link_to person_path(@listing.author) do
            %h6= @listing.author.full_name
        .feedback-box
          - if @listing.author.received_testimonials.size > 0
            - feedback = "#{@listing.author.feedback_positive_percentage.to_s}% #{t("people.show.positive")} (#{@listing.author.received_positive_testimonials.size}/#{@listing.author.received_testimonials.size})"
          - else
            - feedback = 'No feedback yet'
          .feedback-icon
            %span.icon-star
          %p
            = feedback
            - unless feedback == 'No feedback yet'
              %br
              %span Feedback

  .booking-box
    #reply_form.message-avatar-padding.message-reply-form
      = form_for contact_form, :url => create_contact do |form|
        .chat-field
          = form.text_area :content, :class => "reply_form_text_area", :placeholder => "Write your messages here:"
        = form.hidden_field :sender_id, :value => @current_user.id

        = form.hidden_field :listing_id, :value => @listing.id
        = form.hidden_field :community_id, :value => @current_community.id
        .send-message-box
          = form.button t("conversations.new.send_message"), :class => "send-button send_reply_msg custom-button"
