
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,700,300italic,300);


h2, h3, h4,h5{ font-family: 'Open Sans', sans-serif !important;}

#slider{
    background: #AF6F00;
    background: linear-gradient(to right, #79BF00, #AF6F00, #E52000);
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {clear: both;} 

.flex {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.heading{ color : #999999;}

.mt-20 {margin-top: 20px;}
.ml-20 {margin-left: 20px;}
.mr-20 {margin-right: 20px;}
.mb-20 {margin-bottom: 20px;}

.mt-30 {margin-top: 30px;}
.ml-30 {margin-left: 30px;}
.mr-30 {margin-right: 30px;}
.mb-30 {margin-bottom: 30px;}

.mt-60 {margin-top: 60px;}
.mb-60 {margin-bottom: 60px;}

h2, h3, h4, h5 {
	margin: 0;
}

h2 {
	font-size: 37px;
	color: #3e3e3e;
	font-weight: 400;
}

h3 {
	color: #3e3e3e;
	font-weight: 300;
	font-size: 37px;
}

h4 {
	text-transform: uppercase;
	color: #cf4760;
	font-size: 19px;
	font-weight: 400;
	position: relative;
	display: inline-block;
	line-height: 1.1;
}

h5 {
	color: #828282;
	font-size: 19px;
	font-weight: 300;
}

header {
	margin: 20px auto;
	max-width: 1300px;
	width: 100%;
	text-align: center;
}

.header_block {
	width: 33.3%;
	padding: 0 30px;
}

.header_block_inn {
	border: 1px solid #c0392b;
	padding: 10px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
}

.header_block_inn img {
	width: 100%;
	height: 100%;
	max-width: 322px;
	display: block;
}

.titles-btn {
	padding: 60px 0;
}

.btn {
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	height: 50px;
	display: inline-block;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	line-height: 1.3;
	padding: 16px 35px;
	-webkit-transition: All .2s ease;
	-moz-transition: All .2s ease;
	transition: All .2s ease;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 40px;
}

.btn.blue {
	background: #2490ff;
	border-color: #2490ff;
}
.btn.blue:hover {
	background: #ffffff;
	color: #2490ff;
}
.btn.blue:active {
	background: #0f7ae8;
	border-color: #0f7ae8;
	color: #ffffff;
}

.btn.pink {
	background: #cf4760;
	border-color: #cf4760;
	font-size: 13px;
}
.btn.pink:hover {
	color: #cf4760;
	background: #ffffff;
}
.btn.pink:active {
	background: #ba4057;
	border-color: #ba4057;
	color: #ffffff;
}

.btn.red {
	background: #c0392b;
	border-color: #c0392b;
	font-size: 13px;
}
.btn.red:hover {
	color: #c0392b;
	background: #ffffff;
}
.btn.red:active {
	background: #ab3428;
	border-color: #ab3428;
	color: #ffffff;
}

section {
	text-align: center;
}

section h3,
section h5 {
	margin-top: 10px;
}

section h4 {
	padding: 20px 0;
	padding-right: 60px;
}

.icon_search {
	width: 41px;
	height: 41px;
	background: url(/assets/homepage/lupa.png) no-repeat top left;
	right: 0;
}

.icon_stars {
	width: 162px;
	height: 32px;
	background: url(/assets/homepage/stars.png) no-repeat top left;
	right: -116px;
}

.icon_mail {
	width: 46px;
	height: 32px;
	background: url(/assets/homepage/mail.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}

.icon_messege {
	width: 44px;
	height: 44px;
	background: url(/assets/homepage/messege.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_calendar {
	width: 33px;
	height: 33px;
	background: url(/assets/homepage/calendar.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_globe {
	width: 40px;
	height: 40px;
	background: url(/assets/homepage/globe.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_key {
	width: 38px;
	height: 38px;
	background: url(/assets/homepage/key.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_people {
	width: 44px;
	height: 44px;
	background: url(/assets/homepage/people.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_camera {
	width: 60px;
	height: 46px;
	background: url(/assets/homepage/camera.png) no-repeat top left;
	background-size: 100% auto;
	right: -15px;
}

.icon_insurance {
	width: 38px;
	height: 44px;
	background: url(/assets/homepage/insure.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}
.icon_card  {
	width: 44px;
	height: 44px;
	background: url(/assets/homepage/card.png) no-repeat top left;
	background-size: 100% auto;
	right: 0px;
}

.icon_search,
.icon_stars,
.icon_mail,
.icon_messege,
.icon_calendar,
.icon_globe,
.icon_key,
.icon_people,
.icon_camera,
.icon_insurance,
.icon_card  {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-size: 100%;
}

section h4:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 40px;
	background: -webkit-linear-gradient(left, #c8f3fb, #f9d4ee);
	background: -o-linear-gradient(left, #c8f3fb, #f9d4ee);
	background: -moz-linear-gradient(left, #c8f3fb, #f9d4ee);
	background: linear-gradient(left, #c8f3fb, #f9d4ee);
}

.grey_bg {background: #fafafa;}

.sec_block {
	width: 50%;
	height: 460px;
	overflow: hidden;
	position: relative;
}

.sec_block img {
	display: block;
	position: absolute;
	top: 50%;
    left: 50%;
    max-height: 100%;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: cover;
}

.sec_block_text {
	color: #788187;
	font-size: 16px;
	width: 60%;
	line-height: 1.7;
	text-align: left;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif !important;
}

.inform {margin-top: 30px;padding: 1px 0 110px 0;}

.block_info {
	color: #1a1a1a;
	font-size: 15px;
	padding: 60px 50px 0 50px;
	line-height: 1.7;
	margin-bottom: 10px;
	width: 33%;
}

.block_info .btn {
	max-width: 230px;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

/*  slider  */

.swiper-container {
    //height: 300px;
}

.home-page-map.swiper-pagination {
	text-align: left;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border: 1px solid #3399ff;
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #3399ff;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 20px;
	width: auto;
}

.swiper-container-horizontal>.swiper-pagination-bullets.left {
	left: 10%;
}

.swiper-container-horizontal>.swiper-pagination-bullets.right {
	right: 10%;
	left: inherit;
}

.swiper-slide {
	width: 100%;
	overflow: hidden;
}

.sec_block .small_image {display: none;}

.video {
	position: absolute;
	bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
}

.video.youtube {
	width: 150%;
	height: 140%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 16px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*home page design*/
/*header*/

.header{background:rgba(33,34,37,.4); position:absolute; left:0; right:0; top:0; height:50px;}
.header:after{position:absolute; content:""; left:0; bottom:0; right:0; height:4px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f638be+0,00d8ff+100&0.22+0,0.22+100 */
background: -moz-linear-gradient(-45deg, rgba(0,216,255,1) 0%, rgba(246,56,190,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,216,255,1) 0%,rgba(246,56,190,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(0,216,255,1) 0%,rgba(246,56,190,1)  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38f638be', endColorstr='#3800d8ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*header*/
/*banner css*/
#signup, #confirm-pending, #signup-form, #mistyped_password_forgotten, #pop_up_password_forgotten, #login { display: none; }
.signup-popup { background: #fff; width: 550px; margin: 0px auto; padding: 20px 60px; border-radius: 5px; box-shadow: 0px 0px 3px #eee; text-align: center;z-index:99999 !important;}
.banner{position:relative;}
.popup-content p {
    color: #3c3c3c;
}
.tab-toggle-inner {
    margin-top: 20px;
    position: relative;
}
.button-part {
    background: #ced7de;
    color: #fff;
    width: 180px;
    display: inline-block;
    margin: 0 -2px;
    height: 50px;
    line-height: 50px;
    text-transform: capitalize;
    font-size: 20px;
}
.button-part.button-active {
    background: #2f96fb;
    margin-bottom: 0;
}
.or-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
    background: #27557b;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    top: 9px;
    line-height: 29px;
    text-transform: capitalize;
    font-size: 14px;
}
.tab-toggle-content {
    margin-top: 25px;
}.inner-fb-box, .form-box {
    width: 360px;
    margin: 0px auto;
}
.tab-two .signup-fb {
    margin-top: 50px;
    margin-bottom: 10px;
}
a.with-email {
    color: #3c3c3c;
}
.tabinner .labelname {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 5px;
}
button.signup-fb {
    background: #28577a;
    text-align: left;
    padding: 0 10px;
    border-radius: 4px;
    width: 100%;
    line-height: 100%;
}



.tabinner input[type="text"], .tabinner input[type="password"], .tabinner input[type="number"], textarea {

    min-height: 30px;
    padding: 5px 10px;

}
.tabinner .labelname {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 5px;
}
.labelname {
    text-align: left;
    font-weight: normal;
}
a.email-here:hover, a.email-here:focus {
    color: #2f96fb;
}
.tab-two .email-here {
    margin: 0;
}
a.email-here {
    color: #3c3c3c;
    font-size: 12px;
    margin-top: 60px;
    display: inline-block;
}
.tab-toggle-inner {
    margin-top: 20px;
    position: relative;
}

button.login-butt {

    background: #2f96fb;
    margin: 20px auto;

}
.banner>img{width:100%;}
.banner-mask{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f638be+0,00d8ff+100&0.22+0,0.22+100 */
background: -moz-linear-gradient(-45deg,rgba(0,216,255,0.22) 0%, rgba(246,56,190,0.22) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(0,216,255,0.22) 0%,rgba(246,56,190,0.22) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,rgba(0,216,255,0.22) 0%,rgba(246,56,190,0.22) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38f638be', endColorstr='#3800d8ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
position:absolute; left:0; right:0; top:0; bottom:5px;
}
article.page-content {
    padding-bottom: 0;
}
.signup-fb span {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.morphext > .animated {
    display: inline-block; 
}
.feature-item {
    float: left;
    width: 33.33%;
    padding: 0 15px;
        padding-left: 15px;
}
.rnt-box {
    float: left;
    width: 50%;
    padding: 0 15px;
}
.notification-pop-hover {
    display: none;
}
.notification-pop-hover.notification-active {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    padding: 12px 15px;
    position: absolute;
    right: -25px;
    top: 61px;
    width: 350px;
    z-index: 9;
}
#header-user-mobile-anchor, .header-user-toggle {
    overflow: inherit;
}
.header-wrapper {
    background: transparent none repeat scroll 0 0 !important;
    overflow: inherit;
}
.hero_section .inner_banner {
    position: relative;
}
.marketplace-in {
    text-align: left;
}
.marketplace-in h1 {
    color: #fff;
}
.marketplace-title-header {
    left: 50%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 1060px;
}
.close-notfication {
    color: #ccc;
    font-weight: normal;
    left: 5px;
    position: absolute;
    top: 2px;
    cursor: pointer;
}
.notification-pop-hover .icon-bell-alt {
    color: #a64c5d;
    float: left;
    font-size: 25px;
    text-align: center;
    width: 50px;
    margin-right: 10px;
}
.notification-pop-hover p {
    font-size: 11px;
    line-height: 15px;
    text-align: left;
}
.notification-pop-hover.notification-active::after {
    border-bottom: 8px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    position: absolute;
    right: 18px;
    top: -8px;
    z-index: 1;
}
.counter-box {
    position: relative;
}
.toggle-menu .number {
    display: inline-block;
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    position: static;
    width: 15px;
}
.number {
    background: #a64c5d none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 8px;
    color: #fff;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: -5px;
    text-align: center;
    width: 18px;
    font-weight: bold;
}
.faq-box{width:33.33%; float: left; padding: 0 15px;}
.banner-text{position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -o-transform:translateY(-50%); -ms-transform:translateY(-50%); left:0; right:0; text-align:center; font-family: 'Open Sans', sans-serif;}
.banner-slider{color:#fff; text-transform:uppercase; font-size:70px; line-height: 70px; font-weight:700; }
.login-btn{text-align:center; display:inline-block;}
.login-btn .join-btn,.login-btn .how-it-works{ display:inline-block;}
.login-btn .join-btn .btn,.login-btn .how-it-works .btn{color:#fff; text-transform:uppercase; font-size:17px; border:1px solid #fff; height:50px; line-height:48px; text-align:center; border-radius:0; padding:0 25px; margin:0 8px; transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s;}
.login-btn .join-btn .btn{background:#da3b08; border-color:#da3b08;}
.login-btn .join-btn .btn:hover{color:#da3b08; background:none;}
.login-btn .how-it-works .btn{background:none;}
.login-btn .how-it-works .btn:hover{background:#da3b08; border-color:#da3b08;}
.banner-text h6{color:#fff; font-weight:300; font-style:italic; font-size:24px; margin-bottom:32px;}
.search-box{text-align:center;}
.login-btn{margin-bottom:100px;}
.search-box{width:580px; margin:0 auto; position:relative;}
.search-box:after{position:absolute; left:18px; width:20px; top:15px; background:url(../assets/homepage/mangin.png) no-repeat; background-size:cover; content:""; height:20px; }
.search-box input{border:0; height:50px; border-radius:25px; padding:0 60px; background:#fff; width:100%;}
.search-box span {position: absolute; cursor: pointer; top: 50%; right: 18px; line-height: 16px; width: 16px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}
.search-box img{width:100%;}
.search-filters a{display:inline-block; margin:0 6px; height:30px; line-height:24px; padding-right:15px; vertical-align:middle; border:3px solid #fff; color:#fff; padding-left:32px; position:relative; font-size:11px; text-transform:uppercase; font-weight:bold;}
.search-filters span{width:16px; position:absolute; top:50%; left:5px; display:inline-block;  transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); line-height:0px;}
.search-filters{margin-top:25px;}
.content-section{font-family: 'Open Sans', sans-serif;}
/*heading-box*/
.heading-jube{text-align:center; margin-top:40px; margin-bottom:30px;}
.heading-jube h5 {
  color: #b1b1b1;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
}
.heading-jube h2{font-size:40px; font-weight:700; text-transform:uppercase; line-height:40px;}

/*video section*/
.video-section a{display:inline-block; padding: 0; margin:0 32px; transition: all 0.5s ease-out 0s; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s;}
.video-section a:hover{opacity:.7;}
.video-section{margin-bottom:50px; text-align:center;}
.instr1{float:left; width:33.33%;}
.instr-box img{width:100%;}

/*banner css*/

/*--beenu--*/
.container {margin: 0 auto;max-width: 1170px;}
.how-it-works-section {
    background: #f8f9f9 none repeat scroll 0 0;
    padding: 30px 0 70px;
}
.feature-item h4{ padding:35px 0; color:#000; font-size:30px; font-weight:700; text-transform:none;}
.how-it-works-section h4:after{ position:static; display:none;}
.feature-item-content p{ color:#777; font-size:14px; line-height:23px;}
.how-it-works-section h4{font-size:17px; margin-bottom:14px; font-weight:600; color:#333; text-transform:none; padding:0; position:static;}
.feature-media {
    margin-bottom: 15px;
}
.block_info .btn { margin:0 auto 15px; text-align: center; display:block; }
.flex p{text-align: center;}

.product-section {
    background: #ffffff none repeat scroll 0 0;
    padding: 0 0 50px;
}
.instr1 a h5{font-size:15px; color:#333; text-transform:uppercase; font-weight:700; position:relative; padding-bottom:15px; margin-bottom:30px;}
.instr1 a h5:after{width:100px; height:2px; background:#d5d5d5; bottom:0; position:absolute; left:0; right:0; content:""; margin:0 auto;}
.org-btn .btn{background:#da3b08; text-transform:uppercase; font-size:14px; color:#fff; border-radius:0; border:0;}
.gray-bg{background:#f8f9f9; padding:30px 0;}
 .service-item {
    background: #FFFFFF;
    padding: 30px 30px 30px 125px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    transition: all 100ms ease-out 0s;
	-webkit-transition: all 100ms ease-out 0s;
	-moz-transition: all 100ms ease-out 0s;
	-o-transition: all 100ms ease-out 0s;
	-ms-transition: all 100ms ease-out 0s;
}
 .service-item:hover {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
	-o-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
	-ms-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.09);
}
 .service-item .service-image {
    position:absolute; top:30px;
	left:30px;
}
 .service-item .service-content {
    overflow: hidden;
	text-align:left;
}
.rnt-box h4,.faq-item h4{font-size:17px; margin-bottom:14px; font-weight:600; color:#333; text-transform:none; padding:0; position:static;}
.rnt-box p{font-size:14px; color:#777; margin:0; line-height:23px;}
.rnt-box h4:after,.faq-item h4:after{display:none;}
.faq-item{ position: relative;
    display: block;
	padding:30px;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25rem; min-height:190px;}
	.heading-jube h3{ font-size:20px; font-weight:400; color:#777; margin-top:30px; margin-bottom:40px;}
	.heading-jube h3 a{color:#da3b08; }
	.faq-item h4,.faq-item p{text-align:left;	}
	.faq-item p{font-size:14px; line-height:23px;}
	.faq-section{margin-bottom:30px;}
  .imp-section p{font-size: 12px;}
  .imp-section .block_info.btn-box.org-btn { padding: 30px 15px;}
	
	/*--footer-section--*/
.footer-section{ background:#333333; border-top:solid 3px #9fd7f6; padding:55px 0; margin-top: 30px; color:#fff; }
.footer-block h2{ color:#fff; font-size:20px; font-weight:700; padding:0 0 50px; }
.footer-block{ border-right:solid 1px #fff; padding:0 0 50px; text-align:center;  float: left; min-height: 265px; position: relative;}
.footer-logo { position:absolute; text-align:center; top:50%; left:50%; transform:translate(-50%,-50%); }
.footer-one{ padding:0 10px; width:18%}
.footer-two{ width:23%;}
.footer-three{ width:20%;}
.footer-four{ width:20%; }
.footer-five{ width:19%; border-right:none; }
ul.footer-links{ margin:0; padding:0; }
ul.footer-links li{ font-size:14px; font-weight:700; line-height:30px; margin-right:10px;}
ul.footer-links li:last-child{ margin-right:0;}
ul.footer-links li a{ color:#fff; display:inline-block; padding: 0; }
ul.footer-links li a:hover{ color:#da3b08 ;}
.footer-five ul.footer-links li{ display:inline-block; vertical-align:top;}
.footer-five ul.footer-links li a{ width:25px; height:25px; border-radius:50%; text-align:center; color:#333333; background:#fff; display:inline-block; }
.footer-five ul.footer-links li a:hover{ color:#fff; background:#da3b08;}
/*--footer-section--*/


/*--beenu--*/


@media only screen and (max-width: 1600px) {
	.sec_block {
		height: 350px;
	}
}

@media only screen and (max-width: 1200px) {
	.block_info {
		padding: 60px 20px 0 20px;
	}
	.sec_block {
		height: 300px;
	}
	/*new-homepage*/
	.login-btn {
    margin-bottom: 30px;
}
.banner-slider{line-height:70px; margin-bottom:20px;}
.content-section .container {
    width: 100%;
}
.how-it-works-section{padding-bottom:40px;}
	
}

@media only screen and (max-width: 1024px) {
	.sec_block {
		height: 250px;
	}
	.sec_block_text {
		font-size: 14px;
		line-height: 1.5;
		width: 75%;
	}
	section h4 {
		font-size: 17px;
	    padding: 15px 0;
	    padding-right: 45px;
	}
	.icon_search {
	    width: 31px;
	    height: 31px;
	}
	.icon_stars {
		width: 110px;
	    height: 22px;
	    right: -75px;
	}
	.icon_calendar {
	    width: 23px;
	    height: 23px;
	}
	.icon_mail {
	    width: 33px;
	    height: 23px;
	}
	.icon_key {
    	width: 28px;
    	height: 30px;
	}
	.icon_globe {
    	width: 30px;
    	height: 30px;
	}
	.icon_messege {
    	width: 34px;
    	height: 34px;
	}
	.icon_insurance {
    	width: 28px;
    	height: 32px;
	}
	.icon_card {
    	width: 34px;
    	height: 34px;
	}
	.icon_people {
    	width: 34px;
    	height: 34px;
	}
	.icon_camera {
    	width: 45px;
    	height: 28px;
	}
	.inform {
    	padding: 30px 0 35px 0;
	}
/*new-home page*/
.banner-text{padding-top: 25px;}
.banner-slider{font-size: 60px; line-height: 60px;}

}

/*new-home page*/
@media only screen and (max-width: 1023px) {
.banner-slider {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.video-section a {
    display: inline-block;
    margin: 0 -2px;
    transition: all 0.5s ease-out 0s;
    width: 50%;
	padding:0 15px;
}
.video-section a img{width:100%;}
.heading-jube h2{font-size:30px; line-height:30px;}
}
/*new-home page*/

@media only screen and (max-width: 900px) {
	header {
		padding: 0 20px;
	}
	h2, h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 17px;
	}
	section h4 {
		padding: 10px 0;
		padding-right: 40px;
	}
	.btn {
		padding: 13px 25px;
		height: auto;
	}
	.sec_block {
		height: 250px;
	}
	.titles-btn {
		padding: 40px 0;
	}
	.icon_search {
		width: 30px;
		height: 30px;
	}
	.sec_block_text {
		font-size: 13px;
	}
	.header_block {
	    padding: 0 15px;
	}
	.block_info {
		width: 50%;
		padding: 40px 40px 0 40px;
	}
	
	/*new home page*/
.banner-slider {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}
.banner-text h6 {
    font-size: 18px;
    margin-bottom: 10px;
}
.login-btn {
    margin-bottom: 15px;
}
.login-btn .join-btn .btn, .login-btn .how-it-works .btn{font-size:14px;}
.search-filters {
    margin-top: 15px;
}
.footer-block h2 {
    font-size: 16px;
    padding: 0 0 15px;
}
ul.footer-links li{margin-right:0;}
}

/*new home page*/
@media only screen and (max-width: 767px) {
.banner{overflow:hidden;}
.banner > img {
    height: 450px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: auto;
}
.search-box{width:90%;}
.search-filters a{font-size:10px;}
	.heading-jube h2{font-size:20px; line-height:20px;}
	.heading-jube h5 {font-size: 12px; margin-bottom: 10px;}
	.heading-jube {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.product-section{padding-bottom:0;}
.rnt-box ,.faq-box{
    flex: 1 1 100%;
    margin-bottom: 0;
    max-width: 100%;
    padding-bottom: 0;
    width: 100%;
}
.service-item{margin-bottom:15px;}
.faq-item{min-height:0;}
.faq-section {
    margin-bottom: 0;
}
.heading-jube h3 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.footer-section{margin-top:20px; padding:15px 0;}
.footer-block{width:100%; border:0; border-bottom:1px solid #636363; padding-bottom:15px; margin-bottom:15px;}
.footer-block h2{padding:0 0 10px;	}
ul.footer-links li {
    font-size: 12px;
    line-height: 20px;
}
.footer-block.footer-five {
    border: 0 none;
    margin: 0;
}
}

@media only screen and (max-width: 740px) {
	section h4 {
		font-size: 14px;
		padding-right: 35px;
	}
	.icon_search {
	    width: 23px;
    	height: 23px;
	}
	.icon_stars {
		width: 80px;
    	height: 17px;
    	right: -60px;
	}
	.icon_calendar {
	    width: 20px;
	    height: 20px;
	}
	.icon_mail {
	    width: 25px;
    	height: 18px;
	}
	.icon_key {
    	width: 23px;
    	height: 24px;
	}
	.icon_globe {
    	width: 22px;
    	height: 22px;
	}
	.icon_messege {
    	width: 25px;
    	height: 25px;
	}
	.icon_insurance {
    	width: 20px;
    	height: 24px;
	}
	.icon_card {
    	width: 26px;
    	height: 26px;
	}
	.icon_people {
    	width: 24px;
    	height: 24px;
	}
	.icon_camera {
    	width: 37px;
    	height: 22px;
	}
}

@media only screen and (max-width: 670px) {
	.header_block {
	    padding: 0 10px;
	}
	section .flex {

	}
	.sec_block {
		width: 100%;
	}
	.reverse-column {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.swiper-container {
	    //height: 200px;
	}
	.sec_block.image {
		height: 350px;
	}
	.sec_block .big_image {
		display: none;
	}
	.sec_block .small_image {
		display: block;
	}
	/*new-home page*/
	.feature-item {
    margin-bottom: 20px;
}
.feature-media {
    margin-bottom: 0;
}
.how-it-works-section h4{font-size:14px;}
.feature-item-content p{font-size:12px; line-height:20px;}	
.instr1 {
    float: none;
    width: 100%;
}
}

@media only screen and (max-width: 530px) {
	h2.mb-30.mt-30 {
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.block_info {
		width: 100%;
		padding: 20px 20px 0 20px;
	}
	.header_block {
		width: 100%;
		padding: 10px;
	}
	.titles-btn {
    	padding: 30px 0;
	}
	.inform {
    	padding: 30px 0 30px 0;
	}
	.sec_block.image {
		height: 250px;
	}
	
	/*new home page*/
	.search-filters a {
    font-size: 10px;
    margin-bottom: 10px;
    width: 28%;
}
.login-btn .join-btn, .login-btn .how-it-works {
    display: inline-block;
    margin: 0 -2px;
    width: 50%;
	padding:0 10px;
}
.login-btn .join-btn .btn, .login-btn .how-it-works .btn {
    font-size: 10px;
    padding: 0;
    width: 95%;
}
.login-btn {
    width: 100%;
}
.banner-slider {
    font-size: 26px;
    line-height: 30px;
}
.banner-text h6{font-size:16px;}
.heading-jube h2 {
    font-size: 16px;
    line-height: 16px;
}
}

@media only screen and (max-width: 400px) {
	.sec_block_text {
		width: 80%;
	}
	.sec_block.image {
		height: 200px;
	}
}

@media only screen and (max-width: 320px) {
	h2, h3 {
    	font-size: 22px;
	}
	section h4 {
    	font-size: 13px;
    	margin-top: 20px;
	}
	h5 {
    	font-size: 15px;
	}
	section h3, section h5 {
    	margin-top: 5px;
	}
	.sec_block {
    	height: 250px;
	}
	.btn.pink,
	.btn.red {
		font-size: 11px;
	}
	.block_info {
		font-size: 12px;
		margin-bottom: 0;
	}
	.sec_block_text {
		line-height: 1.3;
		top: 45%;
	}
	.sec_block.image {
		height: 160px;
	}
}
/* Responsive CSS*/

body { margin: 0; padding: 0; font-family:'Source Sans Pro', helvetica, sans-serif; }
* { margin: 0; padding: 0; }
p, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }
ul { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
a:hover, a:focus, a:active { outline: 0; text-decoration: none; }

.hero_section { position: relative; z-index: 99999; }
.hero_section .inner_banner { position: relative; }
.hero_section .inner_banner img { width: 100%; }
.mask { position: absolute; top: 0; width: 100%; opacity: 0.2%; }
.header1 { background-color: rgba(34,35,37,0.2); position: absolute; top: 0; z-index: 99; width: 100%; padding-top: 5px !important;}
.border_bot {
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 100%;
}
.header1 .col4 {
  float: left;
}


@media (max-width:1400px) {
}

@media (max-width:1380px) {
	.search_list > li { margin-top: 24px; padding: 0; }
  .menu_toggle li a { padding: 7px 10px !important; }
  .english-sub-menu li a { padding: 7px 10px !important; }
}
@media (max-width:1330px) {
  .search_gear input { width: 90% !important; }
  .search_list { margin-left: 0; }
}
@media (max-width:1240px) {
  .red_butn > a { padding: 30px 10px; }
  .search_gear input { width: 85% !important; }
  .search_list { margin-left: -25px; }
  .form_search_gear { bottom: 0; position: static; width: 100%; z-index: 999; }
  .search_gear { background-color: #252525; height: 120px; margin-left: auto; margin-right: auto; margin-top: 30px; padding: 0 30px; width: 80%; }
  .red_butn > button {margin-right: -15px}
  .slider_content {
    bottom: inherit !important;
    top: 50%;
    transform: translateY(-39%) !important;
    -webkit-transform: translateY(-39%) !important;
    -moz-transform: translateY(-39%) !important;
    -o-transform: translateY(-39%) !important;
    -ms-transform: translateY(-39%) !important;
    width: 100%;
  }


}
@media (max-width:1200px) {
}

@media (max-width:1189px) {
  .menu_btn a { font-size: 14px; }
  .list_button a { font-size: 13px; }
  .list_button a { padding: 8px 10px !important; }
}
@media (max-width:1080px) {
	.col8 {
    float: left;
    width: 60% !important;
  }
  .outer{width:95%;}
  .search_list {margin-left: -35px;}
  .top_nav li a {
    color: #ffffff;
    display: block;
    font-family:'Source Sans Pro', helvetica, sans-serif;
    font-size: 16px;
    padding: 32px 12px;
  }
  .list_button a{ margin-left:0px !important; }
  .menu_btn { padding: 0 15px 0 10px; }
}

@media (max-width:1052px)
{
	.search_gear input { width: 75% !important; }
  .search_list { margin-left: -60px;}
}

@media (max-width:989px) {
  .form_search_gear { bottom: 0; position: static; width: 100%; z-index: 9; }
  .search_gear .col6 { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top: 0px; text-align: center; width: 100%; }
  .search_gear { background-color: #252525; height: 185px; margin-left: auto; margin-right: auto; padding: 0 30px; width: 100%; margin-top: 30px; }
  .new { float: right;margin-top: -90px; }
  .col6 { text-align: center; width: 100%; }
  .top_nav { float: right; padding: 0; }
  .secondp { font-size: 18px; font-weight: 600; line-height: 1; }
  .slider_content .firstp { font-size: 20px; font-weight: 600; }
  .slider_content { bottom: 55%; }
  .logo1 { padding: 15px 0; }
  .top_nav li a { padding: 0 10px; }
  .col4 { float: left;width: 30%; }
  .col8 { float: left;width: 70%; }
  .red_butn > button{
    background: #fc2965 none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    height: auto !important;
    margin-bottom: 11%;
    margin-left: 31%;
    margin-top: -12%;
    padding: 30px 14px;
    vertical-align: middle;
  }
  .search-form-input.search-form-text-field > input{
    margin:0 auto;
    width:96%;
  }
}
@media (max-width:930px) {
	.top_nav li a { padding: 0 8px; }
	.top_nav li a { padding: 0 5px; font-size: 14px; }
	.menu_btn a { background: #e8e8e8 none repeat scroll 0 0; color: #333333 !important; font-size: 12px !important; padding: 8px !important; }
	.list_button a { font-size: 12px !important; padding: 8px 5px !important; }
	.user_pic > a { padding: 8px 5px !important; }
	.menu_btn
	{
	  padding: 0 !important;
	}
	.list_button a {
	  font-size: 12px !important;
	  padding: 8px 4px !important;
	}
	.list_button a
	{
	  margin-left:0px !important;
	}
	.search_bar_added input {
	  width: 78% !important;
	}
  .header1{height:65px;}
  .topnav li a + div {
    min-width: 100% !important;
}
 .red_butn>button {
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}
.search_list {
    display: inline-block;
    vertical-align: top;
	float:none;
	margin-left:0;
}
.new {
    display: inline-block;
    margin-top: 0 !important;
    float: none !important;
    margin-left: 10px;
    vertical-align: middle;
}
#helper_text{padding:20px !important;}
.img-box{width:60px !important;}
ul#helper_dot {
    margin-left: 65px !important;
}
.header-menu-icon {
    position: relative;
    top: 0;
    right: 4px;
}

	}
@media (max-width:767px) {
	.header1 { height:65px; }
	.header1.added_header { position: fixed !important; display: block !important; background: #222325; }
	.new {
	    float: right;
	    margin-top: -90px;
	}
	.mask{top:58px;}
	.hero_section .inner_banner{padding-top:60px;}
	.search_gear input { width: 100% !important; }
	.col4 { float: left; text-align: center; width: 20% !important; }
	.col8 { float: right; text-align: right; width: 80% !important; }
	.top_nav { float: none; padding: 0; }
	.header-wrapper {
	  background: #fff;
	  float: right;
	  margin: 0 auto;
	  padding-left: 0;
	  padding-right: 0;
	}
	.header-wide-logo{display:none;}
	.visible-tablet, .visible-tablet-inline, .visible-desktop-inline{display:block !important;}
	.header-right {
	  float: right;
	}
	.test {
	  height: 50px!important;
	  margin-bottom: 15px;
	  width: 50px!important;
	}
	.new-listing-link{display:none;}
	.search_gear {
	    width: 100%;
	}
	.new {
	  float: right;
	  margin-top: -90px;
	}
	.slider_content {
	  bottom: 50%;
	}
	.search_gear{
	  height: auto;
	}
	.search_bar_added {
	  padding: 0;
	  position: static;
	  top: -70px;
	  width: 100%;
	}
	.red_butn > button {
	  margin-left: 35%;
	  margin-top: -9%;
	}
	.search_bar_added input {
	  border: 1px solid #cccccc;
	  width: 75% !important;
	}
	.new_search_added { margin-top:15px; }
	.slider_content { top: 20%; }
	.red_butn > button{ margin-top:15%; }
  .home_play_link {
      padding: 5px !important;
  }
  

.search_gear {
    width: 100%;
}
 .red_butn>button {
    margin-left: 0;
    
}
.slider_content .home_play_link {
    display: block;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}
.home-map>.map {
    height: 300px !important;
    width: 95%;
    margin: 15px auto 0 !important;
}
.listing-author-contact-button{width:auto;}
.people-header {
   
    font-size: 17px !important;
}
.header-toggle-menu-user {
    top: 60px !important;
}
.header-toggle-menu-menu {
    top: 60px !important;
}
#helper_text{padding:20px !important;}
ul#helper_dot {
    margin-left: 100px !important;
}
#insurance_text{margin-left:0 !important;}
.youtube_video{width:70%; margin:0 auto !important; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -o-transform:translateX(-50%); -ms-transform:translateX(-50%);}
.youtube_video iframe {
    height: auto;
    margin: 0 auto;
    width: 100%;
}


}
@media (max-width:640px) {
.search_list img {
    width: 100%;
}.search_list a {
    display: block;
}.search_list > li {
    margin-top: 24px;
    padding: 0 5px;
    width: 15%;
}
.inform {
    padding: 0 15px !important;
}
.search_bar_added .search-form-input.search-form-text-field>input {
    width: 73% !important;
    margin: 0 auto;
}
.search_bar_added button{width:25% !important;}
.search-form-input.search-form-text-field {
    clear: both;
    overflow: hidden;
}
}


@media (max-width:580px) {
	.slider_content .firstp { font-size: 18px; }
	.secondp { font-size: 15px; }
	.new { clear: both; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 20px !important; width: 100%; }
	.search_list { margin-left: 0; }
	.search_gear { height: 280px; }
	.red_butn > button {
    margin: 0 auto 15px !important;
}
}

@media (max-width:480px) {
	.top_nav li a { font-size: 12px; padding: 0 5px; }
	.menu_btn a { background: #e8e8e8 none repeat scroll 0 0; color: #333333 !important; font-size: 15px !important; padding: 8px 10px !important; }
	.list_button a { padding: 8px 5px !important; }
	.search_gear { height: auto; }
	.search_bar_added input { border: 1px solid #cccccc; width: 70% !important; }
	.slider_content .firstp { font-size: 14px !important; }
	.slider_content { top: 13%; }
	.home_play_link{ margin-top:5px; }
	.new-listing-link{ padding-left:0; }
	.header-text-link{ padding:0 5px 0 0; }
	.header-menu-container{ padding:10px 0; }
	.header-user-toggle{ padding-left:2px; }
.search_list>li {
    margin-top: 10px !important;
    padding: 0 5px; width:30% !important;
}
.slider_content {
    top: 60%;
}
.slider_content .home_play_link img.test {
    height: 20px !important;
    width: 20px !important;
}
.titles-btn,.what_is_jube .team-member{margin-top:0 !important; padding-bottom:0 !important;}
.section-title-area{margin-bottom:0 !important;}
.inform {
    margin-top: 0;
    padding: 0 10px 110px;
}
.inform h2 {
    font-size: 14px;
}
.slider_content {
    bottom: inherit !important;
    top: 65% !important;}

}
@media (max-width:360px) {
	.list_button a { padding: 8px !important; }
	.menu_btn a { padding: 8px !important; }
	.top_nav li a { padding: 0px 12px; }
	.menu_btn { margin-bottom: 10px; margin-top: 10px; }
	.slider_content .firstp { font-size: 14px; }
	.secondp { font-size: 13px; }
	.hero_section.test > form { display: none; }
	.search_gear { height: 360px; }
}

.search-form-input.search-form-text-field > input {
  width: 82% !important;
  margin: 0 auto;
}
.flash-error-global-msg {
  background: #fc2965 none repeat scroll 0 0;
  border-radius: 7px;
  color: white;
  margin: 0 auto;
  padding: 0 10px;
  width: 50%;
  text-align: center;
}
.signup_about_link{margin: 10px 0 0 20px}
.col4 .header-left {
    float: left !important;
}

.visible-tablet-inline{display:inline-block !important}
#header-user-mobile-anchor, .header-user-toggle {overflow:inherit;}
.header-wrapper{ background: transparent none repeat scroll 0 0 !important;overflow: inherit; }
.icon-dropdown {
    float: none !important;
    position: relative;
    top: 0 !important;
}
/*.stripe-update-btn, .stripe-update-btn:hover{background-color:#5bc0de;}*/
.stripe-select-btn, .stripe-select-btn:hover{background-color:#2490ff;}
.stripe-delete-btn, .stripe-delete-btn:hover{background-color:#a64c5d;}
/*.stripe-selected-btn, .stripe-selected-btn:hover{background-color:green;} */

#discount-banner {
  background:url(/assets/discount-banner.png) no-repeat;
  background-size: cover;
  background-position:center;
  height:60px; padding:13px 0 0 30px;
  font-size:40px; text-align:center;
  color: white;
}
.added_header .col8 {
  float: left;
  width: 70%;
}

.added_header .col4 {
  float: left;
  width: 30%;
}

.marketplace-title-header {
  left: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1060px;
}
.marketplace-in {
  text-align: left;
}
.marketplace-in h1 {
  color: #fff;
}

@media only screen and (max-width:1060px){
  .marketplace-title-header{width:95%;}
}

/*----listing show page---*/
@media only screen and (max-width:1024px){
  .listing-price-amount{font-size:32px;}
}
@media only screen and (max-width:991px){
  .listing-price-amount{font-size:28px;}
}
@media only screen and (max-width:930px){
  #helper_dot li::before {margin-left: -28px;}
  #helper_dot li {margin-left: 35px;}


}
@media only screen and (min-width:768px) and (max-width:930px){
  .mobile-img {margin: -17% 0 !important; width: 85% !important; }
.img-box-mbl { margin: 5% 0 0 -6% !important;}

}

@media only screen and (max-width:880px){
  .how-to-video {margin-left: 0 !important;  text-align: center !important;}
  #helper_dot br{display: none !important;}
}

@media only screen and (max-width:767px){
  .marketplace-title-header{top:60%;}
  .book-button{height:40px; font-size:20px;}
  .listing-price-amount{font-size:22px;}
  .page-content p{margin-bottom:8px;}
  .hero_section .inner_banner .slider_content img{margin:0 auto!important;}
  
  #helper_text, #helper_text_mbl{padding: 20px 30px !important;height:auto !important;}
  #helper_text br, #helper_text_mbl br{display: none;}
  .img-box-card, .img-box-mbl, .img-box, .img-box-stripe {float: none !important;margin: 0 auto !important;text-align: center !important;width: 100% !important;}
  ul#helper_dot {margin-left: 0 !important;}
  #helper_dot li {margin-left: 25px !important;}
  .home_play_link {margin-top: 25px;text-align: center;}
  .how-to-video {margin-left: 0 !important;}
  .img-box-card img, .img-box-mbl .mobile-img, .img-box-mbl img, .img-box img {margin: 0;max-height: 122px !important;width: auto !important;}
  
}

@media only screen and (max-width:480px){
  .home_play_link {text-align: center;}
  .player-image {display: inline-block;height: 40px !important; vertical-align: middle;width: 40px !important;}
  .video_text {display: inline-block;font-size: 16px !important; margin-left: 8px;}
	
}


.row-with-divider #listing-message-links li {
  width: 100% !important;
}

/**********************************************/

.process-box *{ font-family: 'Open Sans', sans-serif; box-sizing:border-box; margin:0; /*padding:0;*/}
.process-box{ margin:0 auto; padding:11px 0; width:520px;}
.status-main-box{ margin:0 auto; padding:30px 0; width:460px;  box-sizing:border-box;}
.custom-button {border-radius: 0; display: block; height: auto; line-height: unset; margin: 0 auto; text-transform: uppercase;}

.owner-Info-box{ margin-bottom:40px;}
.owner-Info-title{ font-size:34px; margin:0 0 9px; font-weight:700; color:#000; text-align:center;}
.owner-Info {
  padding-left: 73px;
  position: relative;
  width: 207px;
  margin: 30px auto 60px auto;
}
.owner-Info-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  overflow: hidden;
}
.owner-Info-image img {
  width: 100%;
}
.owner-name{ color:#000; font-size:14px; line-height:16px; margin-bottom:5px;}
.feedback-box{ position:relative; padding-left:34px;}
.feedback-icon{ position:absolute; left:0; top:0; bottom:0; margin:auto;}
.feedback-icon > img { vertical-align: middle;}
.feedback-box p {
  color: #000;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  padding-top: 2px;
}
.feedback-box p span {
  color: #ccc;
  font-weight: 600;
  font-size: 9px;
}

.booking-status-bar{ margin:0 auto 35px; width:360px; }
.booking-status-bar:after{ content:""; clear:both; display:block;}
.booking-status-col{ float:left; width:33.333%; text-align:center;}
.booking-status-col label{ display:block; margin:0 0 8px; color:#535353; font-size:10px; line-height:18px; font-weight: 300;}
.booking-status-icon{ margin:0 auto; background:#ccc; border-radius:100%; width:52px; height:52px; line-height:46px; position:relative;}
.booking-status-icon img{ vertical-align:middle;}
.booking-status-icon:after{ content:""; position:absolute; left:98%; top:0; bottom:0; margin:auto; background:#cccccc; width:36px; height:11px;}
.center .booking-status-icon:before{ content:""; position:absolute; right:98%; top:0; bottom:0; margin:auto; background:#cccccc; width:35px; height:11px;}
.booking-status-col:last-child .booking-status-icon:after{ left:auto; right:98%;}
.active .booking-status-icon,.active .booking-status-icon:after ,.center.active .booking-status-icon:before{ background:#5bc17b;}
.info-text{ text-align:center; margin-bottom:26px;}
.info-text p{ font-size:12px; line-height:18px; color:#000; opacity:0.80;}
.message-time-ago-left > a, .message-time-ago-right > a { color: rgb(47, 150, 251); }
.booking-box{ background:#ececec; padding:30px 25px; position:relative;}
.white-inner-box{ background:#fff; padding:25px 18px; margin-bottom:39px;}
.accept-button-box{ text-align:center; margin-bottom:19px;}
.accept-button-box form, .accept-button-box form div { display: inline; }
.accept-button {background: #5bc17b none repeat scroll 0 0; border: medium none; border-radius: 0; color: #fff; cursor: pointer; display: block; font-family: Trebuchet MS; font-size: 14px; height: auto; line-height: unset; margin: 0 auto; min-width: 226px; padding: 14px 30px 15px; transition: all 0.5s ease-out 0s; }
.accept-button:hover{ background:#3ba15b;}

.waiting-button{ padding:14px 30px 15px; background:#cccccc; color:#fff; font-family:Trebuchet MS; border:none; transition:all 0.5s ease-out 0s; cursor:pointer; min-width:226px;}
.waiting-button:hover{ background:#b1b0b0;}
.accept-button p{ color:#252525; font-size:14px; line-height:18px; font-weight:300;}

.number-box{ margin-bottom:12px;}
.number-box table{ width:100%; border:none;}
.number-box table tr td{ color:#000; font-size:14px; line-height:16px; border-bottom:1px solid #ececec; padding:9px 0 8px;}
.number-box table tr td:last-child{ text-align:right;}
.number-box table tr:last-child td{ border-bottom:none; font-weight:600;}
.number-box table tr td img{ vertical-align:middle}

.renter-info-box:after,.renter-info-box ul:after{ content:""; clear:both; display:block;}
.renter-info-left{ float:left; }
.renter-info-right{ float:right; padding-top:14px;}
.renter-info{ position:relative; padding-left:67px;}
.renter-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  overflow: hidden;
}
.renter-image img {
  width: 100%;
}
.renter-info h6{ margin:0 0 1px; color:#000; font-size:11px; line-height:13px; opacity:0.95; font-weight:normal;}
.renter-info .feedback-box{ padding-left:28px;}
.renter-info-right ul li {
  float: left;
  list-style: none;
  margin-right: 13px;
  text-align: center;
}
.renter-info-right ul li:last-child{ margin-right:0;}
.renter-info-right ul li label {
  display: block;
  margin: 0;
  color: #a7a7a7;
  font-size: 7px;
  line-height: 10px;
  opacity: 1;
  font-weight: 500;
}

.chat-field { padding:0 6px;}
.chat-field textarea{ width:100%; border:1px solid #c3c3c3; border-radius:3px; padding:10px; font-size:11px; color:#333; height:120px; background:#fff; }
.send-message-box{ position:absolute; left:0; right:0; text-align:center; margin:0 auto; bottom:-26px;}
.send-button{ padding:12px 28px; color:#fff; font-family:Trebuchet MS; font-size:14px; background:#3399ff; border:none; cursor:pointer; transition:all 0.5s ease-out 0s;}
.send-button:hover{ background:#1379df;}

.user-image{ position:absolute; top:22px; left:-53px; border-radius:3px; width:43px; height:43px; overflow:hidden;}
.right .user-image{ left:auto; right:-53px;}
.right .user-name{ text-align:right;}
.user-name{ color:#4b4a47; font-size:14px; font-weight:normal; margin-bottom:9px;}
.user-name span{ color:#319dff;}

.booking-status-box:after{ content:""; clear:both; display:block;}
.booking-status-box{ margin-bottom:44px;}
.status-col{ float:left; width:25%; text-align:center;}
.status-col label{ display:block; margin:0 0 8px; color:#939393; font-size:9px; line-height:18px;}
.status-col:last-child .booking-status-icon::after{ left:auto; right:98%;}
.status-col.center .booking-status-icon::before,.status-col .booking-status-icon::after{ width:33px;}

.status-col.active .booking-status-icon,.status-col.active .booking-status-icon:after ,.status-col.center.active .booking-status-icon:before{ background:#e2de71;}
.status-col.active label{ color:#e2de71;}

.white-box{ border:21px solid #ebebeb; background:#fff; padding:32px 27px; position:relative; margin-bottom:14px; }
.question-mark{ position:absolute; top:9px; left:9px; height:13px; width:13px; }
.question-mark img{ vertical-align:top;}

.payment-row{ position:relative; padding-left:50px; margin-bottom:13px; }
.payment-image{ position:absolute; left:0; top:0;}
.payment-image img{ vertical-align:top;}
.payment-row h6{ margin:0 0 1px; font-size:10px; line-height:13px; color:#161616;}
.payment-row p{ font-style:italic;font-size:10px; line-height:13px; color:#161616;}
.payment-row p a{ color:#161616;}

.card-field-row:after{ content:""; clear:both; display:block;}
.card-field-row{ margin-bottom:10px;}
.card-field-row label{ display:block; color:#000; opacity:0.95; font-size:12px; line-height:16px; margin-bottom:4px; }
.card-field-row input,.vat-input input{ width:100%; height:35px; border-radius:4px; border:2px solid #cacaca; padding:0 10px; color:#000; font-size:13px; min-height: unset;}
.number-field{ float:left; width:185px; margin-right:7px;}
.cvv-field{ float:left; width:60px; margin-right:5px;}
.exp-field{ float:left; font-size: 11px; padding:29px 0 0; display: table;}
.exp-field .year-select { width: 55px; }
.card-select{ display:inline-block; vertical-align:middle;}
.date-select{ width:35px;}
.card-select > select { font-size: 10px;  width: 100%; height: 22px;}
.date-select, .card-select { display: table-cell;}

.card-button button{ width:auto; padding:0 17px; height:35px; background:#cf4760; border:1px solid #c9314c; border-radius:3px; color:#fff; transition:all 0.5s ease-out 0s; cursor:pointer; display: inline-block;  }
.card-button button:hover{ background:#c9314c; }

.first-name{ float:left; width:156px; margin-right:8px;}
.last-name{ float:left; width:200px;}
.card-field-row label span{ font-size:10px; letter-spacing:-0.40px; margin-left:5px; line-height:16px;  vertical-align:top; display:inline-block; opacity:0.8;}
.address-box{ float:left; width:221px; margin-right:8px; }
.zip-box{ float:left; width:135px;}
.dk-select{ float:left; height:35px; border-radius:4px; border:2px solid #cacaca; width:77px; position:relative;}
.dk-select:after{ content:""; background:#fff url(../assets/arrow.jpg) no-repeat center center; position:absolute; width:17px; height:100%; border-radius:0 4px 4px 0; top:0; right:0; pointer-events:none; }
.dk-select select{ width:100%; height:100%; border:none; border-radius:4px; padding:0 0px; color:#000; font-size:13px; }
.dk-select select option{ padding:3px; color:#000; background:#fff;}
.phone-box{ float:left; width:144px;}
.booking_map{ height:12em; }

.vat-box{ margin-bottom:11px; margin-top:25px;}
.vat-box label{ display:block; color:#161616; font-size:12px; line-height:16px; margin-bottom:0;}
.vat-box label span{ font-size:10px; letter-spacing:-0.40px; margin-left:5px; line-height:16px;  vertical-align:top; display:inline-block;}
.vat-box p{ color:#161616; font-size:10px; line-height:16px; letter-spacing:-0.40px; margin-bottom:5px;}

.vat-field:after{ content:""; clear:both; display:block;}
.vat-field{}
.vat-select{ float:left; width:41px; position:relative; height:35px; border-radius:4px; border:2px solid #cacaca;}
.vat-select:after{ content:""; background:#fff url(../assets/arrow.jpg) no-repeat center center; position:absolute; width:17px; height:100%; border-radius:0 4px 4px 0; top:0; right:0; pointer-events:none; }
.vat-select select{ width:100%; height:100%; border:none; border-radius:4px; padding:0 0px; color:#000; font-size:13px; }
.vat-select select option{ padding:3px; color:#000; background:#fff;}
.vat-input{ float:left; width:260px;}

.validated { display: inline-block; margin-left: 14px; vertical-align: middle;}

.IDCheck-logo{ text-align:center; margin-bottom:27px; padding-top:3px;}
.upload-box:after{ content:""; clear:both; display:block;}

.upload-left,.upload-right,.upload-center{ float:left;}
.upload-left{ width:108px;}
.upload-center{ text-align:center; width:94px; color:#161616; font-size:20px; line-height:16px; text-transform:uppercase; padding-top:47px;}
.upload-right{ float:left; width:108px;}
.upload-box { padding: 25px 120px;}
.upload-input{ background:url(../assets/drop.png); width:109px; height:109px; }
.upload-input input{ opacity:0; width:100%; height:100%; cursor:pointer;}
.upload-left p{ padding: 0 10px;}
.upload-left p,.upload-right p{ color:#161616; font-size:10px; line-height:13px; text-align:center; padding-top:10px;}
.sms-image a{ display:block;}
.sms-image a img{ vertical-align:top;}
.check-icon{ text-align:center; padding:20px 0 0; margin-bottom:10px;}
.check-icon img{ vertical-align:top;}
.uploaded-text{ margin-bottom:6px;}
.uploaded-text p{ color:#161616; font-size:10px; line-height:13px; text-align:center;}
.uploaded-text p span{ font-style:italic; font-size:10px; line-height:13px;}
.picture-link{ text-align:center; margin-bottom:15px;}
.picture-link a{ color:#161616; font-size:8px; line-height:13px; font-style:italic; text-decoration:underline;}

/* signup modal css */
#signup, #confirm-pending, #signup-form, #mistyped_password_forgotten, #pop_up_password_forgotten, #login { display: none; }
.signup-popup { background: #fff; width: 550px; margin: 0px auto; padding: 20px 60px; border-radius: 5px; box-shadow: 0px 0px 3px #eee; text-align: center;z-index:99999 !important;}
.popup-content p {
  color: #3c3c3c;
}
.tab-toggle-inner {
  margin-top: 20px; position: relative;
}
.tab-one .signup-fb {
  margin-top: 80px; margin-bottom: 4px;
}
.tabinner .signup-fb {
    font-weight: bold;
}
.tab-two .signup-fb {
  margin-top: 50px;
}
.button-part {
  background: rgb(206,215,222);
  color: #fff;
  width: 180px;
  display: inline-block;
  margin: 0 -2px;
  height: 50px;
  line-height: 50px;
  text-transform: capitalize;
  font-size: 20px;
}
.button-part.button-active {
  background: rgb(47,150,251);
}
.button-part:hover, .button-part:focus { color: #fff; }
.or-box {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  background: rgb(39,85,123);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  top: 9px;
  line-height: 29px;
  text-transform: capitalize;
  font-size: 14px;
}
button.signup-fb {
  background: rgb(40,87,122);
  text-align: left;
  padding: 0 10px;
  border-radius: 4px;
  width: 100%;
  line-height: 100%;
}
.checkboxtop {
  color: rgb(47,150,251); text-align:left;
}
.checkboxtop a {
  color: rgb(47,150,251); font-size: 14px;
}
a.email-here {
  color: #3c3c3c;
  font-size: 12px;
  margin-top: 60px;
  display: inline-block;
}
a.with-email {
  color: #3c3c3c;
}
.labelname {
  text-align: left;
  font-weight: normal;
}
button.login-butt {
  background: rgb(47,150,251);
  margin: 20px auto;
}
.tab-two .email-here { margin: 0; }
.success-cls { display: block; }
.popup-content h4 {
  color: #333;
  font-weight: 700;
  text-transform: capitalize;
}
button.resend-btn {
  background: rgb(47,150,251);
  border-radius: 4px;
  margin: 30px auto 0 auto;
  text-transform: capitalize;
  padding: 0 45px;
}
a.email-link {
  color: #333;
  font-weight: 600;
  display: block;
  line-height: 14px;
  margin-bottom: 20px;
}
a.change-here-link {
  color: rgb(47,150,251);
  display: inline-block;
}
.signup-popup.success {
  padding: 80px 60px;
}
#divi2 .centered-section-narrow label, #mistyped_password_forgotten label {
  font-weight: normal;
}
.checkboxtop > input {
  display: inline-block;
  margin: -2px 5px 0 0;
  vertical-align: middle;
}
a.email-here:hover, a.email-here:focus {
  color: rgb(47, 150, 251);
}
p.status-links a { color: rgb(47, 150, 251); font-weight: bolder; }
.signup-fb span {
  display: inline-block;
  margin-right:20px;
  vertical-align: middle;
}
.b-modal{
  background: rgba(0, 0, 0, 0.15) !important; z-index: 99999 !important;
}
.split-input:after {
  clear: both;
  content: '';
  display: block;
}
.firstbox {
  float: left;
  width: 48%;
}
.lastbox {
  float: right;
  width: 48%;
}
.counter-box {
  position: relative;
}
.number {
  background: #a64c5d none repeat scroll 0 0;
  border-radius: 50%;
  bottom: 8px;
  color: #fff;
  font-size: 14px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: -5px;
  text-align: center;
  width: 18px;
  font-weight: bold;
}
.left-navi-link-text .number {
  font-size: 9px;
  margin-left: 8px;
  position: static;
  vertical-align: middle;
  line-height: 16px;
}
.notification-pop-hover { display: none; }
.notification-pop-hover.notification-active {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  display: block;
  padding: 12px 15px;
  position: absolute;
  right: -25px;
  top: 61px;
  width: 350px;
  z-index: 9;
}
.notification-pop-hover.notification-active::after {
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  position: absolute;
  right: 18px;
  top: -8px;
  z-index: 1;
}
.close-notfication {
  color: #ccc;
  font-weight: normal;
  left: 5px;
  position: absolute;
  top: 2px;
  cursor: pointer;
}
.notification-pop-hover .icon-bell-alt {
  color: #a64c5d;
  float: left;
  font-size: 25px;
  text-align: center;
  width: 50px;
  margin-right: 10px;
}
.notification-pop-hover p {
  font-size: 11px;
  line-height: 15px;
  text-align: left;
}
.toggle-menu .number {
  display: inline-block;
  font-size: 11px;
  height: 15px;
  line-height: 15px;
  position: static;
  width: 15px;
}
.status-link {
  display: block;
  font-size: 12px;
  line-height: 18px;
}
.inner-fb-box, .form-box {
  width: 360px;
  margin: 0px auto;
}
.tabinner .labelname {
  font-size: 14px;
  margin-bottom: 0;
  margin-top:5px;
}
.tab-toggle-content { margin-top: 25px; }
.tabinner input[type=text], .tabinner input[type=password], .tabinner input[type=number], textarea { min-height: 30px; padding: 5px 10px; }
a.email-facebook-signup.email-here { margin-top: 10px; }
.number-box tbody tr:nth-child(2n+1) { background-color: transparent; }
.notification_status {
  border-radius: 0;
  margin: 0 2px;
  text-transform: uppercase;
  width: 190px;
}
.transaction-accept, .transaction-accept:hover, .transaction-accept:focus { background: rgb(91,193,123); }
.transaction-accept-wait, .transaction-accept-wait:hover, .transaction-accept-wait:focus { background: #cccccc; display: inline-block; }
.transaction-decline, .transaction-decline:hover, .transaction-decline:focus { background: #3399ff; }
.margin-from-top { margin-top: 4%; }
.feedback-icon .icon-star {
  font-family: 'fontawesome';
  font-size: 24px;
}
.positive-star { color: #3ba15b; }
.negative-star { color: #a91a1a; }
.phone-box-spilt .vat-select { width: 75px; }

/*Review page*/
.process-box-one {
    margin: 0 auto;
    padding: 11px 0;
    width: 520px;position: relative;
}
.process-box-one  .message-avatar-padding{margin: 0px;}
.process-box-one  .send-message-box {
       bottom: -12px;
}


.review-box {
    position: static;
    margin-top: 10px;
}
.review-box .centered-section.testimonial-form {
    padding: 0; margin-bottom: 20px;
}

.owner-Info-box-review .booking-status-col label {
    color: #5BC17B;
}
.review-box .testimonial-form p {
    text-align: center;
    font-size: 14px;
    line-height: normal;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.review-box textarea#testimonial_text {
    margin-bottom: 5px;
}
.new_testimonial label{text-align: left; padding-bottom:3px;}
.review-box .testimonial-form h1{text-align: center; color: #797979; margin-bottom: 10px; font-size: 24px;}
.accept-button-box h5{color: #000;}
.feedback-buttons {
    text-align: center; margin-top: 15px;
}
.feedback-buttons button {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    height: inherit;
    line-height: normal; margin: 0 7px;
    padding: 10px 23px; width: 43%;
}
.feedback-buttons button.greyBt {
    background: #A9A8A8!important;
}

/*18-12-2017 start*/
.payment-outer {
    padding: 0px 25px;
}
.payment-inner {
    position: relative;
    background: #f59393;
    padding: 20px 40px 15px 110px;
     margin-bottom: 15px;
   }
.payment-inner img {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 55px;
}

.payment-inner p {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    color: #fff;padding-bottom: 5px;
}

.payment-inner a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;line-height: normal;
display: inline-block;
}
/*18-12-2017 end*/




@media only screen and (max-width:768px) {
.notification-pop-hover.notification-active { width:320px; }
.notification-pop-hover p { float: left; width:78%; }

}

@media only screen and (max-width:767px) {
  .status-main-box,.process-box{ width:100%; padding:16px 15px;}
  .owner-Info-title{ font-size: 26px;}
  .status-col.center .booking-status-icon::before, .status-col .booking-status-icon::after{ width:91%;}
  .status-col:nth-child(2) .booking-status-icon::after,.status-col:nth-child(3) .booking-status-icon::before{ width:0;}
  .status-col{ width:144px; margin-bottom:10px;}
  .number-field { float: none; margin: 0 0 10px; width: 100%;}
  .first-name,.address-box,.zip-box{ float:left; width:100%; margin:0 0 10px;}
  .white-box{ border: 15px solid #ebebeb; padding: 32px 20px;}
  .phone-box{ width: 140px;}
  .vat-input{  width: 170px;}
  .upload-left, .upload-right, .upload-center{ float:none; margin:0 auto;}
  .upload-center{ padding:20px 0;}
  .booking-status-box { margin: 0 auto 40px; width: 290px;}
  .booking-box{ padding:15px;}
  .renter-info-right,.renter-info-left{ float:none;}
  .renter-info-left{ min-height: 60px;}
  .send-message-box { bottom: -35px;}
  .booking-status-bar{width: 290px;}
  .booking-status-col label{ min-height:28px; line-height:normal;}
  .center .booking-status-icon::before,.booking-status-icon::after{ width:27px;}
  .signup-popup { width:90%; margin: 20px auto 0px auto; padding: 20px; }
  .button-part { font-size: 18px; width: 115px; }
  .notification-pop-hover.notification-active { width:290px; }
  .notification-pop-hover .icon-bell-alt {
    width: 30px;
  }
}
@media only screen and (max-width:550px) {
 .process-box-one { width: 100%;}
 .feedback-buttons button {padding: 10px 5px;}
.accept-button-box { margin-bottom: 0;}
.accept-button-box .centered-section form, .accept-button-box .centered-section-wide form, .accept-button-box .centered-section-narrow form {
    padding-bottom: 1em;
}
.send-button{padding: 8px 20px; font-size: 12px;}
}

@media only screen and (max-width:480px) {
  .notification-pop-hover.notification-active { width:250px; }
  .payment-outer {margin-top: 10px; padding:0px;}
  .payment-inner {padding: 20px 15px 15px 50px;}
  .payment-inner img {left: 10px; top: 20px; width: 34px;}
  .payment-inner a {font-size: 12px;}
  .payment-inner p { font-size: 12px;}
  .inner-fb-box, .form-box { width: 100%; }
}
