- if @booking_params
  - link = confirmation_url(:confirmation_token => @confirmation_token, :host => @host, :locale => I18n.locale, :listing_id => @booking_params[:listing_id], :start_on => @booking_params[:start_on], :end_on => @booking_params[:end_on])
- else
  - link = confirmation_url(:confirmation_token => @confirmation_token, :host => @host, :locale => I18n.locale)

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      = t("emails.common.hey", :name => @resource.given_name_or_username)

-# This part can be enabled if need to send mails in some communities where staring to use mail confirmation now
-# %p
-#   = t("emails.confirmation_instructions.turning_on_confirmations_in_this_community")

%tr
  %td{:align => "left"}
    %font{body_font}
      = t("emails.confirmation_instructions.need_to_confirm")

= render :partial => "person_mailer/action_button", :locals => { :text => t("emails.confirmation_instructions.confirmation_link_text"), :url => link }

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      = t("emails.confirmation_instructions.or_paste_link")

%tr
  %td{:align => "left", :style => "padding-bottom: 15px;"}
    %font{body_font}
      = link

%tr
  %td{:align => "left", :style => "padding-bottom: 25px;"}
    %font{body_font}
      = t("emails.common.thanks")
      %br/
      = t("emails.common.kassi_team")
