- if price_break_down_locals.present?
  .white-inner-box
    - if is_author
      .accept-button-box
        - if transaction_model.notification_status == 'sent'
          - if @current_user.stripe_details.present? && @current_user.is_verify
            = button_to t("transactions.accept"), notification_status_person_transaction_path(:id => params[:id], :person_id => params[:person_id], :notification_status => "accept" ), method: :post, :class => "notification_status transaction-accept button"
          - else
            = button_tag t("transactions.accept"), :class => "notification_status transaction-accept-wait", :type => "button"
          = button_to t("transactions.decline"), notification_status_person_transaction_path(:id => params[:id], :person_id => params[:person_id], :notification_status => "decline" ), method: :post, :class => "notification_status transaction-decline button"
        - elsif transaction_model.notification_status == 'accept'
          - if listing.author.strip_account_id.nil? && listing.author_id == @current_user.id
            = t("transactions.stripe_connect_owner")
          %button.waiting-button.custom-button{:type => "button"} WAITING FOR RENTER
        - elsif transaction_model.notification_status == 'paid'
          - renter = transaction_model.other_party(@current_user)
          - if price_break_down_locals[:end_on].past?
            - if transaction_model.author_skipped_feedback
              %h5
                You have skipped leaving a review. Reviews are important to the community.
                %br
                = link_to "Are you sure?", "/#{params[:locale]}/#{transaction_model.other_party(@current_user).username}/messages/#{transaction_model.id}/feedbacks/reopen", :method => :put
            - elsif transaction_model.testimonials.pluck(:author_id).exclude?(transaction_model.listing_author_id)
              - testimonial = Testimonial.new
              = render partial: "testimonials/testimonials_form", locals: { transaction: transaction_model, testimonial: testimonial }
            - else
              %h5
                You have left a review for
                = link_to renter.name(@current_community), person_path(renter)
          - else
            %p Get your gear ready! Booking is now complete. An email with information has been sent to you and the renter.
        - elsif transaction_model.notification_status == 'decline'
          %h5
            = link_to "You", person_path(listing.author)
            have declined this request.
      - if transaction_model.notification_status == 'sent'
        .payment-outer
          - unless @current_user.stripe_details.present?
            .payment-inner
              = image_tag("Paymentinfo_Icon.png")
              %p
                %strong You need
                to enter your
                %strong payment information
                in order to accept the booking
              = link_to "Enter payment information here", stripe_connect_person_settings_path(@current_user)
          - unless @current_user.is_verify
            .payment-inner
              = image_tag("ID-Icon.png")
              %p
                %strong
                  Upload ID
                to become a
                %strong verified user
                in order to accept the booking
              = link_to "Upload your ID right here",id_verification_person_settings_path(@current_user)
    - else
      - if transaction_model.notification_status == 'pending'
        .accept-button-box
          = button_to 'SEND BOOKING REQUEST', change_request_to_sent_person_transaction_path(@current_user, params[:id]), class: 'accept-button custom-button', method: :post
      - if transaction_model.notification_status == 'sent'
        .accept-button-box
          %button.waiting-button.custom-button{:type => "button"} WAITING FOR OWNER
      - if transaction_model.notification_status == 'accept'
        - if price_break_down_locals[:total_label].present?
          - price = price_break_down_locals[:subtotal]
        -else
          - price = price_break_down_locals[:listing_price]
        - if listing.renting_out_type?
          - convenience_fee = price_break_down_locals[:service_fee]
          - pay_url = pay_stripe_amount_person_transaction_path(:person_id => @current_user.id, :id => params[:id], :price => price, :convenience_fee => convenience_fee)
        - else
          - pay_url = pay_stripe_amount_person_transaction_path(:person_id => @current_user.id, :id => params[:id], :price => price)
        .accept-button-box
          = button_to 'ACCEPT AND COMPLETE', pay_url, class: 'accept-button custom-button', method: :post
      - if transaction_model.notification_status == 'paid'
        .accept-button-box
          - if price_break_down_locals[:end_on].past?
            - if transaction_model.starter_skipped_feedback
              %h5
                You have skipped leaving a review. Reviews are important to the community.
                %br
                = link_to "Are you sure?", "/#{params[:locale]}/#{transaction_model.other_party(@current_user).username}/messages/#{transaction_model.id}/feedbacks/reopen", :method => :put
            - elsif transaction_model.testimonials.pluck(:author_id).exclude?(transaction_model.starter_id)
              - testimonial = Testimonial.new
              = render partial: "testimonials/testimonials_form", locals: { transaction: transaction_model, testimonial: testimonial }
            - else
              - owner = transaction_model.other_party(@current_user)
              %h5
                You have left a review for
                = link_to owner.name(@current_community), person_path(owner)
          - else
            %p Booking is complete! An email with information has been sent to you and the owner. Have fun and be creative!
      - if transaction_model.notification_status == 'decline'
        .accept-button-box
          %h5
            = link_to listing.author.name(@current_community), person_path(listing.author)
            have declined this request.
    = render partial: "transactions/price_break_down", locals: price_break_down_locals
    = render :partial => 'transactions/renter_info', locals: { listing: listing, messages: messages, price_break_down_locals: price_break_down_locals, transaction_model: transaction_model }
- if @current_community.vat.present?
  .message-price-vat
    = t("conversations.show.price_excludes_vat")

  = render partial: "transactions/shipping_address", locals: { shipping_address: tx[:shipping_address] }

  %div{:id => "transaction_status"}
    = render :partial => "transactions/status/status", :locals => { :__transaction_model => transaction_model, role: role, is_author: is_author }
