.number-box
  %table{:cellpadding => "0", :cellspacing => "0"}
    - if booking
      %tr
        %td
          = t("transactions.initiate.price_per_day")
        %td
          = humanized_money_with_symbol(listing_price)
      %tr
        %td
          = t("transactions.initiate.booked_days")
          .tooltip
            %img{:alt => "", :src => "/assets/icon4.png"}/
            .tooltiptext
              Number of full days booked. Coordinate pickup and dropoff. Ex
              %i "Pickup the day before & dropoff the morning after"
        %td
          = l start_on, format: :long_with_abbr_day_name
          = "-"
          = l end_on, format: :long_with_abbr_day_name
          = "(#{pluralize(duration, t("listing_conversations.preauthorize.day"), t("listing_conversations.preauthorize.days"))})"
    - elsif quantity.present? && localized_unit_type.present?
      %tr
        %td
          = t("transactions.price_per_quantity", unit_type: localized_unit_type)
          %img{:alt => "", :src => "/assets/icon4.png"}/
        %td
          = humanized_money_with_symbol(listing_price)
        - if quantity > 1
          %tr
            %td
              = localized_selector_label || t("transactions.initiate.quantity")
              %img{:alt => "", :src => "/assets/icon4.png"}/
            %td
              = quantity
    - if subtotal.present?
      %tr
        %td
          = t("transactions.initiate.subtotal")
          .tooltip
            %img{:alt => "", :src => "/assets/icon4.png"}/
            .tooltiptext
              The total booking price containing potential discounts.
              %i "Price steps" / "Weekend discount"

        %td
          = humanized_money_with_symbol(subtotal)
    - if params[:listing_id].present? || params[:id].present?
      - founded_listing = choose_listing(params[:listing_id], "listing") if params[:listing_id].present?
      - founded_listing = choose_listing(params[:id], "transaction") if params[:id].present?
      - if @current_user != founded_listing.author && founded_listing.renting_out_type? && discount_percent == 0
        %tr
          %td
            = t("transactions.initiate.service_fee")
            .tooltip
              %img{:alt => "", :src => "/assets/icon4.png"}/
              .tooltiptext
                Service fee is 5% of the total booking price. The service fee covers transaction costs and booking service.
          %td
            = humanized_money_with_symbol(service_fee)
    - if discount_percent > 0
      %tr
        %td
          Discount
          = "(#{discount_percent}%)"
        %td
          = humanized_money_with_symbol(total- subtotal)
    - if shipping_price.present?
      %tr
        %td
          = t("transactions.initiate.shipping-price")
        %td
          = humanized_money_with_symbol(shipping_price)
    - if total.present?
      %tr
        %td
          - if total_label.present?
            = total_label
          - else
            = t("transactions.total")
        %td
          = humanized_money_with_symbol(total)
