- renter = (listing.author == @current_user ? (messages.count > 0 && @current_user.id != messages.first[:sender][:id] ? Person.find(messages.first[:sender][:id]) : Person.find(messages.second[:sender][:id])) : @current_user)
.renter-info-box
  .renter-info-left
    .renter-info
      .renter-image
        = link_to image_tag(renter.image.url(:thumb), alt: ''), person_path(renter)
      = link_to person_path(renter) do
        %h6= renter.full_name
      .feedback-box
        - if renter.received_testimonials.size > 0
          - feedback = "#{renter.feedback_positive_percentage.to_s}% #{t("people.show.positive")} (#{renter.received_positive_testimonials.size}/#{renter.received_testimonials.size})"
        - else
          - feedback = 'No feedback yet'
        .feedback-icon
          %span.icon-star
        %p
          = feedback
          - unless feedback == 'No feedback yet'
            %br
            %span Feedback
