.process-box
  .owner-Info-box
    %h2.owner-Info-title
      = listing[:title]
    .owner-Info
      .owner-Info-image
        = link_to image_tag(listing.author.image.url(:thumb), alt: ''), person_path(listing.author)
      .owner-Info-content
        .owner-name
          = link_to person_path(listing.author) do
            %h6= author[:display_name]
        .feedback-box
          - if listing.author.received_testimonials.size > 0
            - feedback = "#{listing.author.feedback_positive_percentage.to_s}% #{t("people.show.positive")} (#{listing.author.received_positive_testimonials.size}/#{listing.author.received_testimonials.size})"
          - else
            - feedback = 'No feedback yet'
          .feedback-icon
            %span.icon-star
          %p
            = feedback
            - unless feedback == 'No feedback yet'
              %br
              %span Feedback
  .booking-status-bar
    .booking-status-col
      %label Request sent
      .booking-status-icon
        %img{:alt => "", :src => "/assets/icon1.png"}/
    .booking-status-col.center
      %label Owner accept
      .booking-status-icon
        %img{:alt => "", :src => "/assets/icon2.png"}/
    .booking-status-col
      %label You accept and complete
      .booking-status-icon
        %img{:alt => "", :src => "/assets/icon3.png"}/
  .info-text
    %p Write a message below before sending a booking request.
    %p You can always reach out to us, by using the livechat in the right hand corner.
  .booking-box
    - m_price_break_down.each do |price_break_down|
      .white-inner-box
        .accept-button-box
          %button.accept-button.custom-button{:type => "button"} SEND BOOKING REQUEST
        = render partial: "transactions/price_break_down", locals: price_break_down
        = render :partial => 'transactions/renter_info', locals: { listing: listing, messages: nil, price_break_down_locals: nil }
    = form_tag(form_action, method: :post, id: "transaction-form") do
      = hidden_field_tag(:start_on, booking_start)
      = hidden_field_tag(:end_on, booking_end)
      .chat-field
        = text_area_tag(:message, nil, :class => "text_area", :placeholder => "Write your messages here:", :required => true)
      - if quantity
        = hidden_field_tag(:quantity, quantity)
      .send-message-box
        = button_tag t("conversations.new.send_message"), :class => "send-button custom-button"
- content_for :extra_javascript do
  :javascript
    $('.accept-button').click(function() {
      var position = $("#transaction-form").offset().top
      $('html,body').animate({
        scrollTop: position
      }, 1000);
      $('.send-button').click();
    })
