- unless price_break_down_locals[:booking]
  #new_message_form.centered-section
    %h2= t("conversations.new.send_message_to_user", :person => listing.author.given_name_or_username)
.process-box-one
  .owner-Info-box
    - if price_break_down_locals[:booking]
      %h2.owner-Info-title
        = link_to_unless listing[:deleted], listing[:title], listing_path(id: listing[:id]), :class => "listing_title_head"
    .owner-Info
      .owner-Info-image
        = link_to image_tag(listing.author.image.url(:thumb), alt: ''), person_path(listing.author)
      .owner-Info-content
        .owner-name
          = link_to person_path(listing.author) do
            %h6= listing.author.full_name
        .feedback-box
          - if listing.author.received_testimonials.size > 0
            - feedback = "#{listing.author.feedback_positive_percentage.to_s}% #{t("people.show.positive")} (#{listing.author.received_positive_testimonials.size}/#{listing.author.received_testimonials.size})"
          - else
            - feedback = 'No feedback yet'
          .feedback-icon
            %span.icon-star
          %p
            = feedback
            - unless feedback == 'No feedback yet'
              %br
              %span Feedback
    - if price_break_down_locals[:booking]
      .booking-status-bar
        - class_name = ['sent', 'accept', 'paid'].include?(transaction_model.notification_status) ? 'active' : ''
        %div{class: "booking-status-col #{class_name}"}
          %label
            = is_author ? 'Request received' : 'Request sent'
          .booking-status-icon
            %img{:alt => "", :src => "/assets/icon1.png"}/
        - class_name = ['accept', 'paid'].include?(transaction_model.notification_status) ? 'active' : ''
        %div{class: "booking-status-col center #{class_name}"}
          %label
            = is_author ? 'You accept' : 'Owner accept'
          .booking-status-icon
            %img{:alt => "", :src => "/assets/icon2.png"}/
        - class_name = transaction_model.notification_status == 'paid' ? 'active' : ''
        %div{class: "booking-status-col #{class_name}"}
          %label
            = is_author ? 'Renter accepts' : 'You accept and complete'
          .booking-status-icon
            %img{:alt => "", :src => "/assets/icon3.png"}/

  - if !is_author && transaction_model.notification_status == 'pending' && price_break_down_locals[:booking]
    .info-text
      %p Write a message below before sending a booking request.
      %p You can always reach out to us, by using the livechat in the right hand corner.
  .booking-box
    - if price_break_down_locals[:booking]
      = render :partial => "transactions/details", locals: {role: role, tx: transaction, transaction_model: transaction_model, listing: listing, is_author: is_author, price_break_down_locals: price_break_down_locals, messages: messages}
    = render :partial => "conversations/messages_and_form", locals: {role: role, message_form: message_form, message_form_action: message_form_action, messages: messages}

.centered-section-wide.margin-from-top
  #messages
    = render :partial => "conversations/message", :collection => messages, as: :message_or_action
