- content_for :javascript do
  initialize_give_feedback_form("#{I18n.locale}","#{t('error_messages.testimonials.you_must_select_a_grade')}","#{t('error_messages.testimonials.you_must_explain_not_neutral_feedback')}");
.centered-section.testimonial-form
  %h1= t("testimonials.new.give_feedback_to", :person => transaction.other_party(@current_user).name(@current_community))
  %p= t("testimonials.new.this_will_be_shown_in_profile", :person => transaction.other_party(@current_user).given_name_or_username)
  = form_for testimonial, :url => person_message_feedbacks_path(:person_id => @current_user.id, :message_id => transaction.id) do |form|
    = form.error_messages
    = form.label :text, t('testimonials.new.textual_feedback')
    = form.text_area :text, :placeholder => t("testimonials.new.default_textual_feedback")
    = form.label :grade, t("testimonials.new.grade")
    .feedback-grade
      - Testimonial::GRADES.each do |grade|
        %label{:for => "grade-#{grade[1][:form_value]}", :class => "radio hidden"}
          = radio_button_tag "testimonial[grade]", grade[1][:db_value], grade[1][:default], :id => "grade-#{grade[1][:form_value]}"
        %a.grade.hidden{:id => grade[0], :name => "grade-#{grade[1][:form_value]}"}
          = icon_tag(grade[1][:icon], ["link-icon"])
          .link-text{:id => "#{grade[0]}-grade-link"}= t("testimonials.new.#{grade[0]}")
    = form.hidden_field :author_id, :value => @current_user.id
    = form.hidden_field :receiver_id, :value => transaction.other_party(@current_user).id
    .feedback-buttons
      = form.button t("testimonials.new.send_feedback"), :class => "send_button", :id => "send_testimonial_button"
      = link_to "/#{params[:locale]}/#{transaction.other_party(@current_user).username}/messages/#{transaction.id}/feedbacks/skip", :class => "send_button greyBt", :id => "send_testimonial_button", :method => :put do
        = button_tag "Skip", :class => "send_button greyBt", :id => "send_testimonial_button"

