#header-user-desktop-anchor
  #header-user-mobile-anchor
    .left.counter-box
      .inner-box
        = image_tag user.image.url(:thumb), alt: '', class: 'header-user-avatar'
        - counter_value = get_number_of_incomplete_information
        - if counter_value > 0
          %span.number
            = counter_value
          .notification-pop-hover{:class => "#{(params['action'] == 'create_profile' && params['controller'] == 'settings') ? '' : 'notification-active'}"}
            %a.close-notfication.icon-remove
            .clickable-section
              %span.icon-bell-alt
              %p Hello! To become a part of the family, we have to know some things about you. Fill out the missing information.
    .left.header-user-toggle.header-hover.toggle{data: {toggle: '#header-user-toggle-menu', 'toggle-anchor-position' => 'left'}}
      %span.header-text-link.header-user-toggle.header-hover.toggle{data: {toggle: '#header-user-toggle-menu', 'toggle-anchor-position' => 'right', 'toggle-position' => 'absolute'}}
        %span#header-user-display-name.visible-tablet-inline
          = user.name(@current_community)
        = icon_tag("dropdown", ["icon-dropdown"])

- content_for :extra_javascript do
  :javascript
    if ('#{check_address_verification}' == 'false') {
      redirect_path = "#{person_settings_path(@current_user)}";
    } else if ('#{check_id_verification}' == 'false') {
      redirect_path = "#{id_verification_person_settings_path(@current_user)}";
    } else if ('#{check_renter_owner_payment}' == 'false') {
      redirect_path = "#{strip_credit_detail_person_settings_path(@current_user)}";
    }
    $('.clickable-section').click(function() {
      document.location.href = redirect_path;
    });

    $('.close-notfication').click(function() {
      $('.notification-pop-hover').removeClass('notification-active');
    });

    $('.inner-box .number').click(function() {
      $('.notification-pop-hover').toggleClass('notification-active');
    });
